<section>
  <div class="container">
    <h2>We worked together</h2>

    <ul class="logos">
      <li><img alt="SAP Company logo" src="/assets/images/sap/sap.svg" /></li>
      <li><img alt="Chefclub Company logo" src="/assets/images/chefclub/chefclub-logo.png" /></li>
      <li><img alt="Mozilla Company logo" src="/assets/images/mozilla/mozilla_logo.svg" /></li>
      <li><img alt="Mila AG Company logo" src="/assets/images/mila/logo_02_blue.png" /></li>
    </ul>

    <p class="centered">More details about my previous positions can be found in <a routerLink="/resume">my resume</a>.</p>
  </div>
</section>
