<div class="wrapper pt works">
  <div class="container">
    <h1 class="centered"><small>As Freelance for Mozilla </small>Notes by Firefox</h1>

    <div>
      <p>As a <strong>freelance</strong> frontend developer for <strong>Mozilla</strong>, I had the privilege of contributing as a member of the <strong>Test Pilot team</strong>. My primary responsibility was to participate in the development of a <strong>Firefox add-on</strong> that introduced a minimalist notepad feature while validating the latest stack for Firefox Sync and Kinto.</p>

      <p>Here's an overview of my key responsibilities and achievements:</p>

      <ul>
        <li><strong>UI Development</strong>: I played an instrumental role in building the user interface (UI) for the Firefox add-on. This involved designing and implementing a visually appealing and user-friendly interface that seamlessly integrated with the Firefox browser.</li>

        <li><strong>Native App Integration</strong>: In addition to the browser extension, I contributed to the development of a native app designed specifically for this project. This app facilitated note management and synchronization outside of the browser environment, offering users a comprehensive note-taking solution.</li>

        <li><strong>Team Collaboration</strong>: I collaborated closely with the design team, leveraging my skills and expertise to ensure that the UI met the project's objectives and adhered to best practices in web development.</li>
      </ul>
    </div>

    <dl>
      <dt>Years</dt>
      <dd>2018</dd>
      <dt>Stack</dt>
      <dd>
        <ul class="skills right">
          <li><badge>Web extensions</badge></li>
          <li><badge>React native</badge></li>
        </ul>
      </dd>
      <dt>Visit</dt>
      <dd><a href="https://addons.mozilla.org/en-US/firefox/addon/notes-by-firefox/">Mozilla Firefox Addon</a><br/><a href="https://github.com/mozilla/notes">Github repository</a></dd>
    </dl>

    <div class="gallery">
      <img src="/assets/images/mozilla/galery_1_screens.1800.jpg" al="Firefox notes different states" />
      <img src="/assets/images/mozilla/galery_1_5_screens.1800.png" al="Firefox notes states of sync" />
      <img src="/assets/images/mozilla/galery_2_list.1800.jpg" al="Firefox notes sshared list of sync" />
      <img src="/assets/images/mozilla/galery_3_note.1800.jpg" al="Firefox notes sync between app and addon" />
      <img src="/assets/images/mozilla/galery_4_app.1800.jpg" al="Firefox notes mobile view" />
    </div>

    <div class="full_stack">
      <h2>Full stack</h2>

      <dl>
        <dt>Web extension</dt>
        <dd>
          <ul class="skills">
            <li><badge>React</badge></li>
            <li><badge>Redux</badge></li>
            <li><badge>React-router</badge></li>
            <li><badge>Kinto</badge></li>
            <li><badge>Jose-jwe</badge></li>
            <li><badge>Vanilla CSS</badge></li>
            <li><badge>CKeditor</badge></li>

          </ul>
        </dd>
        <dt>Mobile application</dt>
        <dd>
          <ul class="skills">
            <li><badge>React native</badge></li>
          </ul>
        </dd>
      </dl>
    </div>
  </div>
  <nav class="end_page">
    <a routerLink="/works" class="back" role="button"><svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m0 0h24v24h-24z" fill="none"/><path d="m20 11h-12.17l5.59-5.59-1.42-1.41-8 8 8 8 1.41-1.41-5.58-5.59h12.17z"/></svg> Selected Works</a>
    <a routerLink="/works/fromedwin" class="back" role="button">Project: FromEdwin</a>
  </nav>
  <route-footer></route-footer>
</div>
