@import '../../assets/scss/variables';

div.container {

  max-width: 1170px;
  margin: auto;
  padding: 40px;

  @media screen and (max-width: 599px) {
    margin-top: 80px;
    font-size: 1em;
  }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    margin-top: 220px;
    font-size: 1em;
  }
  @media screen and (min-width: 1000px) {
    font-size: 1.1em;
    padding: 60px;
    padding-top: 220px;
  }


  ul {
    padding: 0;
    list-style: none;

    li {
      margin-bottom: 40px;

      &:nth-child(odd) {

      }

      a {
        display: block;
        border: none;
        margin: auto;
        max-width: 100%;
        max-height: 90vh;
        img {
          max-width: 100%;
          max-height: 90vh;
          margin: auto;
        }
      }
    }
  }

}


a.button {
  color: #EEE;
  border: solid 1px #EEE;
  border-shadow: 0px 0px 6px #BBB;
  border-radius: 4px;
  padding: 4px 12px;
  font-size: 0.9em;
  font-family: 'open_sanssemibold';
  white-space: nowrap;
  transition: background 0.3s linear;
  background: transparent;
  float: right;

  @media screen and (max-width: 599px) {
    margin-top: 20px;
    font-size: 1em;
  }
  @media screen and (min-width: 600px) {
    margin-left: 40px;
    margin-right: 20px;
  }
  &:hover{
    color: #DDD;
    border: solid 1px #DDD;
    background: rgba(100, 100, 100, 0.1);
    transition: background 0.2s linear;
  }
}

.viewer{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 60px;
  &.hide {
    visibility: hidden;
    opacity: 0;
    transform: scale(1.2);
    transition: all 0.3s;
  }
  &.show {
    visibility: visible;
    opacity: 1;
    transform: scale(1);
    transition: all 0.3s;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
  }
}
