{% extends "base.html" %}

{% block content %}
<article>
	<h2>
		Legal and Copyright
	</h2>
	<p>
		This website is edited as individual and private content. It is not attached to any company of any kind.
	</p>
	<h3>
		Author
	</h3>
	<p>
		Sébastien BARBIER, <address>46E rue du mont bart, 25200 Montbéliard</address><br/>
		Phone : <a href="tel:+33695675110">+33 6 95 67 51 10</a><br/>
		Contact : <a href="mailto:hello@sebastienbarbier.com">hello@sebastienbarbier.com</a>
	</p>
	<h3>
		Hosting
	</h3>
	<p>
		This website is hosted by Clever Cloud SAS.
		<address>3 rue de l'Allier, 44000 Nantes, France.</address><br/>
		Website : <a href="https://www.clever-cloud.com">www.clever-cloud.com</a><br/>
		General support (commercial and other requests): <a href="tel:+33285520769">+33 2 85 52 07 69</a><br/>
		Technical support: <a href="mailto:support@clever-cloud.com">support@clever-cloud.com</a>.
	</p>
</article>
{% endblock %}
