{% extends "base.html" %}

{% block content %}
<article>
	<h2>Legal and Copyright</h2>
	<p>This website is edited as individual and private content. It is not attached to any company of any kind.</p>
	<h3>Author</h3>
	<p>Sébastien BARBIER, <address>46E rue du mont bart, 25200 Montbéliard</address><br/>Phone : <a href="tel:+33695675110">+33 6 95 67 51 10</a><br/>Contact : <a href="hello@sebastienbarbier.com">hello@sebastienbarbier.com</a></p>
	<h3>Hosting</h3>
	<p>"Heroku Inc." <address>650 7th St, San Francisco, CA, 94103, United States</address><br/>Website : <a href="www.heroku.com">www.heroku.com</a><br/>Contact : <a href="www.heroku.com/contact">www.heroku.com/contact</a></p>
</article>
{% endblock %}
