<header class="header">
  <div class="avatar">
    <div class="thumbnail">
      <img
        src="https://cdn2.sebastienbarbier.com/images/sebastienbarbier_freelance_profile_256.jpg"
        srcset="https://cdn2.sebastienbarbier.com/images/sebastienbarbier_freelance_profile_256.jpg 256w,
                https://cdn2.sebastienbarbier.com/images/sebastienbarbier_freelance_profile_512.jpg 512w,
                https://cdn2.sebastienbarbier.com/images/sebastienbarbier_freelance_profile_full.jpg 894w,"
        alt="Sébastien Barbier portrait compte freelance" />
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100%" preserveAspectRatio="none" viewBox="0 0 140 140">
        <rect x="0" y="0" width="140" height="140" fill="#676258" />
        <g transform="scale(0.546875) translate(0.5 0.5)">
        <polygon fill="#d2c2c3" fill-opacity="0.501961" points="112,35 32,254 236,250" />
        <polygon fill="#000000" fill-opacity="0.501961" points="90,-16 229,-7 221,186" />
        <polygon fill="#070400" fill-opacity="0.501961" points="2,-16 271,2 -13,96" />
        <polygon fill="#000000" fill-opacity="0.501961" points="154,181 225,163 216,-16" />
        <polygon fill="#ffdfcc" fill-opacity="0.501961" points="76,101 143,48 170,99" />
        <polygon fill="#829fac" fill-opacity="0.501961" points="271,261 266,146 76,246" />
        <polygon fill="#434130" fill-opacity="0.501961" points="89,170 42,217 20,-15" />
        <polygon fill="#96b5c9" fill-opacity="0.501961" points="-16,266 82,183 137,249" />
        <polygon fill="#e1a38e" fill-opacity="0.501961" points="82,65 94,217 172,136" />
        <polygon fill="#000000" fill-opacity="0.501961" points="7,78 -16,7 27,-16" />
        <polygon fill="#7d7065" fill-opacity="0.501961" points="86,174 159,220 212,169" />
        <polygon fill="#524a31" fill-opacity="0.501961" points="-16,86 116,-16 64,134" />
        <polygon fill="#031900" fill-opacity="0.501961" points="192,-16 168,166 225,170" />
        <polygon fill="#dbac9a" fill-opacity="0.501961" points="68,143 95,59 134,53" />
        <polygon fill="#1b3046" fill-opacity="0.501961" points="88,251 56,244 119,240" />
        <polygon fill="#f9ffff" fill-opacity="0.501961" points="74,261 123,244 54,248" />
        <polygon fill="#000012" fill-opacity="0.501961" points="60,237 80,231 42,231" />
        <polygon fill="#0d0800" fill-opacity="0.501961" points="122,-16 170,60 107,47" />
        <polygon fill="#93a7b3" fill-opacity="0.501961" points="238,249 232,176 190,169" />
        <polygon fill="#8a8373" fill-opacity="0.501961" points="271,74 227,93 236,244" />
        </g>
      </svg>
    </div>
    <a routerLink="/contact">{{ 'about_me.header.contact' | translate }}</a>
  </div>
  <div>
    <h2>{{ 'about_me.header.title' | translate }}</h2>
    <div [innerHTML]="'about_me.header.description' | translate">
    </div>
  </div>
</header>
<article>
  <div class="twoColumn">
    <div>
      <h3>{{ 'about_me.tools.title' | translate }}</h3>
      <p [innerHTML]="'about_me.tools.description' | translate"></p>
      <div class="stack">
        <h4>Font-end</h4>
        <ul>
          <li>{{ 'about_me.tools.integration' | translate }}</li>
          <li>React</li>
          <li>Vue.js</li>
          <li>Angular</li>
        </ul>
      </div>
      <div class="stack">
        <h4>Back-end</h4>
        <ul>
          <li>Node.js</li>
          <li>Python (Django, Pyramid, Flask)</li>
        </ul>
      </div>
      <div class="stack">
        <h4>Mobile</h4>
        <ul>
          <li>React native</li>
        </ul>
      </div>
      <div class="stack">
        <h4>{{ 'about_me.tools.skills' | translate }}</h4>
        <ul>
          <li>{{ 'about_me.tools.test' | translate }}</li>
          <li>Documentation</li>
          <li>Devops</li>
        </ul>
      </div>
    </div>
    <div>
      <h3>{{ 'about_me.pricing.title' | translate }}</h3>
      <p [innerHTML]="'about_me.pricing.description' | translate"></p>

      <h3>{{ 'about_me.location.title' | translate }}</h3>
      <p [innerHTML]="'about_me.location.description' | translate"></p>
    </div>
  </div>

  <h3>{{ 'about_me.title.recent_work' | translate }}</h3>

  <ul class="clients">
    <input type="radio" name="work" id="none" checked="checked" (change)="disableScrolling(false)" />
    <label for="none" class="background">
    </label>
    <li class="logos" *ngFor="let client of clients_order">
      <input type="radio" name="work" id="{{ client }}" (change)="disableScrolling(true)" />
      <label class="client" for="{{ client }}">
        <img src="{{ clients[client].logo }}" alt="{{ clients[client].label }} logo" />
        <div>
          <p>{{ clients[client].date }}</p>
          <p [innerHTML]="clients[client].type | translate"></p>
        </div>
      </label>
      <div>
        <section>
          <header>
            <label for="none">
              <svg height="32px" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="32px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink"><path class="svgFillWhite" d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z"/></svg>
            </label>
          </header>
          <div>
            <img src="{{ clients[client].logo }}" alt="{{ clients[client].label }} logo" />
            <div>
              <h4>{{ clients[client].label }} <small>{{ clients[client].location | translate }}, {{ clients[client].date }}</small></h4>
              <p><em>{{ clients[client].description | translate }}</em></p>
              <div class="description" [innerHTML]="clients[client].work | translate"></div>
              <div class="stack">
                <ul>
                  <li *ngFor="let item of clients[client].stack">{{ item | translate }}</li>
                </ul>
              </div>
              <ul class="links">
                <li *ngIf="clients[client].website"><a target="_blank" href="{{ clients[client].website_url }}">{{ clients[client].website | translate }}</a></li>
                <li *ngIf="clients[client].github"><a target="_blank" href="{{ clients[client].github_url }}">{{ clients[client].github | translate }}</a></li>
              </ul>
            </div>
          </div>
          <footer>
            <div>
              <label class="previous noselect" *ngIf="clients[client].previous" for="{{ clients[client].previous }}">
                <img src="{{ clients[clients[client].previous].logo }}" alt="{{ clients[client].label }} logo" />
              </label>
            </div>
            <div>
              <label class="next noselect" class="next noselect" *ngIf="clients[client].next" for="{{ clients[client].next }}">
                <img src="{{ clients[clients[client].next].logo }}" alt="{{ clients[client].label }} logo" />
              </label>
            </div>
          </footer>
        </section>
      </div>
    </li>
  </ul>

</article>

<aside>

  <input type="radio" name="gallery" id="no_gallery" checked="checked" (change)="disableScrolling(false)" />
  <div class="gallery_list">

    <h3>{{ 'about_me.title.gallery' | translate }}</h3>

    <ul class="gallery">
      <li *ngFor="let image of gallery; let index = index">
        <label for="gallery-{{index}}">
          <img src="{{ image.small }}" alt="" />
        </label>
      </li>
    </ul>

  </div>

  <div class="gallery_fullscreen">
    <header>
      <label for="no_gallery">
        <svg height="32px" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="32px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink"><path class="svgFillWhite" d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z"/></svg>
      </label>
    </header>
    <ul>
      <li *ngFor="let image of gallery; let index = index">
        <input type="radio" name="gallery" id="gallery-{{ index }}" (change)="disableScrolling(true)"  />
        <div class="viewer">
          <img src="{{ image.large }}" />
          <div class="previous">
            <label for="gallery-{{ index - 1 }}" *ngIf="gallery[index - 1]"></label>
          </div>
          <div class="next">
            <label for="gallery-{{ index + 1 }}" *ngIf="gallery[index + 1]"></label>
          </div>
        </div>
      </li>
    </ul>
  </div>

</aside>

<footer class="footer">
  <p [innerHTML]="'about_me.footer' | translate"></p>
</footer>
