<div class="route">
  <route-header></route-header>
  <div class="content">
    <h1>{{ 'nav.about_me' | translate }}</h1>

    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>Thanks a lot for taking the time to know more about me.<br/>As most tech people, I'm not really great at marketing and at advertising myself so here is a very rapid bullet point list:</p>

          <ul>
            <li>Grew up in <strong>France</strong> 🇫🇷🍷🥖 where I graduated 🎓 in 2011 a <strong>master degree</strong> in computer science 💻. Full resume can be find on <a href="">linkedin</a>.</li>
            <li>I <strong>build applications</strong> ✨ to solve problems, advocating for open source 🤗 and data privacy 🔐. You can find my code on <a href="">github</a>.</li>
            <li>I also <strong>freelance</strong> as senior front-end, full stack python developer since 2016. You can hire me 💼 on <a href="">malt</a> or <a href="">la creme de la creme</a>.</li>
            <li><strong>Location independant lifestyle</strong> ✈️🎒🌍, I travel full time mostly in Europe and South East Asia as part of the digital nomad trend. As a grew up in a westernized educated industrual rich democratic country (aka W.E.I.R.D. country), my education highly opiniated my view of the world and travelling is the best way to correct it,</li>
            <li>My online presence is mostly about writing on <a href="">twitter</a> about <strong>tech related content</strong>, sharing traveling <strong>pictures</strong> 📸 on <a href="">instagram</a>, and <strong>helping other developers</strong> on <a href="">StackOverflow</a></li>
            <li>Obviously, I also like <strong>emojis</strong> a lot 😅.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <route-footer></route-footer>
</div>
