@import './variables';


.route {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  overflow: auto;
  padding-top: 160px;
  @media screen and (max-width: $md) {
    padding-top: 0px;
  }

  .content {
    position: relative;

    display: flex;
    flex-direction: column;
      align-items: flex-start;
    @media screen and (min-width: $md) {
      flex-direction: column-reverse;
      align-items: flex-end;
    }

    // H1 is display rotated on the side for desktop and as main title on mobile
    // Each page/component contain a unique h1
    h1 {

      padding: 0;
      margin: 0;
      font-size: $titleFontSize;
      z-index: 99;
      position: relative;
      display: inline-block;

      &:after {
        content: '';
        border-bottom: solid 1px black;
        width: 20px;
        position: absolute;
        top: 0.7em;
        right: -30px;
      }

      @media screen and (max-width: $sm) {
        margin: $paddingMedium $paddingSmall;
      }

      @media screen and (min-width: $sm) and (max-width: $md - 1px) {
        margin: $paddingMedium;
      }

      @media screen and (min-width: $md) and (max-width: $lg - 1px) {
        transform: translateX(50%) rotate(-90deg) translateX(50%) translateX($paddingMedium) translateY($paddingMedium * -1) translateY(-1em);
      }

      @media screen and (min-width: $lg) {
        transform: translateX(50%) rotate(-90deg) translateX(50%) translateX($paddingMedium) translateY($paddingMedium * -1) translateY(-1em);
      }

      @media screen and (min-width: $md) {
        position: -webkit-sticky;
        position: sticky;
        top: 0px;
        bottom: 0px;
        left: 0px;
        &:after {
          content: '';
          border-bottom: solid 1px black;
          width: 20px;
          position: absolute;
          top: 0.7em;
          right: -30px;
        }
      }
    }
  }
}
