// Add this to style markdown to html as angular treeshake this css otherwise as it is not in template
div.description {
  ul {
    padding-left: 25px;
    li {
      list-style: disc;
      padding-left: 2px;
    }
  }
}
