

$colorNavigation  : rgb(31, 29, 29);

// Theming
$light           : rgb(247, 247, 246);
$light2          : rgb(235, 235, 235);
$light3          : rgb(200, 200, 200);

// Color based on profile picture
$colorPolo       : #8baed7; // 32.4 % Polo Blue (Blue)
$colorBlack      : #080d15; // 24.1 % Black (Black)
$colorBlackRock  : #232435; // 17.7 % Black Rock (Blue)
$colorChambray   : #455671; // 9.6 % Chambray (Blue)
$colorLight      : #8c6c71; // 7.1 % Light Wood (Brown)
$colorCab        : #594043; // 5.5 % Cab Sav (Brown)
$colorScarpa     : #676569; // 2.4 % Scarpa Flow (Grey)
$colorDawn       : #9d9990; // 1.2 % Dawn (Grey)


//
$mobilePadding   : 22px;
$articleWidth    : 720px;

$sm              : 576px;
$md              : 768px;
$lg              : 992px;
$xl              : 1200px;

$headerFontSize  : 1.8rem;
$titleFontSize   : 1.4rem;

// Padding used to show fixed elements
$paddingSmall    : 20px;
$paddingMedium   : 40px;
$paddingLarge    : 60px;
