
$primary_text_white: #e8eaed;
$primary_text_beige: rgb(205, 188, 165);
$primary_text_black: #202124;

$background_white: rgb(247, 247, 246);
$background_beige: rgb(250, 248, 245);
$background_beige_dark: rgb(242, 237, 234);
$background_brown: rgb(31, 29, 29);
$background_brown_light: rgba(31, 29, 29, 0.9);
$background_eigengrau: #16161D; // Eigengrau color: https://en.wikipedia.org/wiki/Eigengrau

$color_gold: rgb(219, 183, 120);
$color_gold_dark: rgb(217, 151, 0);
$color_gold_dark_visited: rgb(168, 115, 0);

// General variables
$font_size: 16px;
$color_text: black;
$color_text_light: black;

// Screen Size

$container_width: 1200px;

// z-index
$zindex_wrapper: 1;
$zindex_header: 10;
$zindex_modal: 500;
$zindex_navigation: 100;

// Mixins used in the project
@mixin sansserif {
  font-family: 'Open Sans', Helvetica, sans-serif;
  // If browser support variableFonts, use it
  @supports (font-variation-settings: "wdth" 115) {
    font-family: 'Open Sans Variable', 'Open Sans', Helvetica, sans-serif;
  }
}

@mixin serif {
  font-family: 'Source Serif', Arial, serif;
  font-variation-settings: 'opsz' 24;
  // If browser support variableFonts, use it
  @supports (font-variation-settings: "wdth" 115) {
    font-family: 'Source Serif Variable', 'Source Serif', Arial, serif;
  }
}

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-down {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-down {
  @media (max-width: 899px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-down {
  @media (max-width: 1200px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}
@mixin for-big-desktop-down {
  @media (max-width: 1799px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}
