.works {
  nav {
    border-top: solid 1px #BBB;
    display: flex;
    margin-top: 50px;
    a {
      width: 50%;
      padding: 30px 40px;
      text-transform: uppercase;
      color: $color_gold_dark_visited;
      text-decoration: none;
      font-size: 0.8em;
      letter-spacing: 2px;

      display: flex;
      align-items: center;

      &:first-of-type {
        border-right:  solid 1px #BBB;
        justify-content: flex-end;
      }
    }
  }
}
