@import './variables';

html {
  color: #333;
  font-family: 'open_sanslight', sans-serif;
  font-size: 16px;
  text-rendering: optimizelegibility;
  font-kerning: auto;
  background: $light;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "open_sansbold";
  letter-spacing: -0.04em;
  color: #111;
  small {
    font-family: "open_sanslight";
    font-size: 0.8em;
  }
}

h1 {
  font-size: 2.2em;
  line-height: 1.125;
}
h2 {
  font-size: 2em;
  line-height: 1.125;
}
h3 {
  font-size: 1.6em;
  line-height: 1.125;
}
h4 {
  font-size: 1.4em;
  line-height: 1.2;
}
h5 {
  font-size: 1.3em;
  line-height: 1.3;
}
h6 {
  font-size: 1.2em;
  line-height: 1.4;
}

p, li {
  font-family: 'open_sanslight', sans-serif;
  line-height: 1.5;
  font-size: 1em;
  letter-spacing: -0.01em;

  strong {
    font-family: "open_sanssemibold";
    font-size: 1.05em;
    letter-spacing: -0.04em;
  }
  a {
    text-decoration: none;
    border-bottom: dashed 1px;
    color: #666;
    &:hover {
      color: black;
    }
  }
}


.stack {
  display: flex;
  align-items: baseline;
  margin-bottom: 10px;
  h3, h4 {
    width: 80px;
    float: left;
    clear: both;
    font-weight: 300;
    margin: 0;
    text-transform: uppercase;
    font-size: 0.6em;
    letter-spacing: 0px;
    font-family: "open_sanslight";
  }
  ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1.3em;
    li {
      list-style: none;
      background: rgba(100, 100, 100, 0.1);
      padding: 4px 7px;
      border-radius: 4px;
      margin-top: 4px;
      font-size: 0.8em;
      margin-right: 5px;
    }
  }
}
