html {
  color: #333;
  font-family: 'open_sanslight', sans-serif;
  font-weight: 300;
  font-size: 15px;
  letter-spacing: -0.3px;
  text-rendering: optimizelegibility;
  font-kerning: auto;
}


strong {
  font-family: "open_sanssemibold";
}

a {
  text-decoration: none;
  border-bottom: dashed 1px;
  color: #666;
  &:hover {
    color: black;
  }
}
