

$nav-background: rgb(31, 29, 29);

// Theming
$dark-background: rgb(31, 29, 29);

$light-background: white;
$light: rgb(247, 247, 246);
$light2: rgb(235, 235, 235);
$light3: rgb(200, 200, 200);

//
$mobilePadding: 22px;
$articleWidth: 720px;

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$headerFontSize: 1.8rem;
$titleFontSize: 1.4rem;

// Padding used to show fixed elements
$paddingSmall: 20px;
$paddingMedium: 40px;
$paddingLarge: 60px;
