# See http://help.github.com/ignore-files/ for more about ignoring files.

# Static Instagram
src/assets/json/instagram_feed.json
src/assets/json/nomadlist_feed.json
src/assets/json/nomads_feed.json
src/assets/images/instagram/
.env

# compiled output
/dist
/tmp
/out-tsc
/app

# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.vscode

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db

##### OLD GITIGNORE FROM PYTHON CODE
*.pyc
.clever.json

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
apps
collectstatic
db.sqlite3

static/CACHE

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Angular code
.angular
