{% extends "base.html" %}

{% block content %}
<article>
	<h2>About me</h2>
	<p><strong>September 2016</strong>, time came for me to stop waiting and be active.</p>
</article>

{% endblock %}

{% block thought %}

I am defined by my values

TRYING TO INCARNE :
JUSTICE, SPIRITUALITY, FREEDOM, CREATIVITY, MEANING, KINDLY.


FIGHTING AGAINST :
SUPERFICIALITY, RESTRICTION, STRUCTURE, INEQUALITY, WALLS, ILLUSION, MANIPULATION.

Ideas :

Seeking for enlightment
out of the box
Cross the line
Escape society
Wront society
Broken society
Illusion, superficial. Opposite of Deep.
Submissive society
Stopping / Breaking / killing the illusion
The art of living
Feeling alive
Learning

WORK EDUCATION POLITIC ART SPIRITUALITY

Path / Road / Travel

Need to understand our world, our society,

« We cannot become what we need by remaining what we are » - John C Maxwell

“How we spend our days is, of course, how we spend our lives,” Annie Dillard

Way to inspire people with ideas, is by incarning them.

Deepthinking
Do I have to ?

{% endblock %}
