{% extends "base.html" %}

{% block content %}
<article>
	<section>
		<h2>Email</h2>
		<p>Email : <a href="mailto:hello@sebastienbarbier.com">hello@sebastienbarbier.com</a></p>
	</section>
	<section>
		<h2>Social network</h2>
		<ul>
			<li><a href="http://www.twitter.com/SebBarbier/">Twitter</a></li>
			<li><a href="http://www.facebook.com/sebastienbarbier/">Facebook</a></li>
			<li><a href="https://instagram.com/sebastienbarbier/">Instagram</a></li>
			<li><a href="https://nomadlist.com/@sebbarbier">Nomadlist</a></li>
			<li><a href="http://fr.linkedin.com/in/sebbarbier/">Linkedin</a></li>
			<li><a href="https://github.com/sebastienbarbier/">Github</a></li>
			<li><a href="http://stackoverflow.com/users/4762763/sebastienbarbier">Stack Overflow</a></li>
			<li><a href="https://500px.com/sebastienbarbier">500px</a></li>
		</ul>
	</section>
</article>
{% endblock %}
