{% load static from staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>Sébastien BARBIER | Web developer</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="Sébastien BARBIER, Front-End, Developer">
		<meta name="description" content="Hi, I'm Sébastien BARBIER, Front-End developer, passionate about the web, its tech and its economy. Currently doing a lot of javascript, but still a deep python lover.">
		<meta name="language" content="en">
		<!-- Bootstrap -->
		<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
		<link href="{% static "css/styles.css" %}" rel="stylesheet">
		<link href="{% static "css/devicons.css" %}" rel="stylesheet">
		<link href="{% static "css/font-awesome.min.css" %}" rel="stylesheet">

		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="{% static "js/jquery-2.1.0.min.js" %}"></script>
		<script src="{% static "js/jquery-ui-1.10.4.custom.min.js" %}"></script>
		<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="{% static "js/bootstrap.min.js" %}"></script>
		<script src="{% static "js/scrollToggle.js" %}"></script>

	</head>
	<body>
		<div class="header">
			<div class="js_title css_title">
				<h1>Hi, I'm Sébastien BARBIER<br/>
				<small>Web developer</small></h1>
			</div>

			<div class="js_scrolldown css_scrolldown">
				<i class="fa fa-angle-down"></i>
			</div>

			<div class="js_loader css_loader">
				<div class="js_progress css_progress">
					<div class="js_bar css_bar">
					</div>
				</div>
			</div>
		</div>

		<div class="content">
			{% block page %}

			{% endblock %}
		</div>

		<div class="js_network css_network">
			<ul>
				<li><a href="http://www.twitter.com/SebBarbier/">
					<i class="fa fa-twitter"></i>
					</a></li>
				<li><a href="http://www.facebook.com/sebastienbarbier/">
					<i class="fa fa-facebook"></i>
					</a></li>
				<li><a href="http://fr.linkedin.com/in/sebbarbier/">
					<i class="fa fa-linkedin"></i>
					</a></li>
				<li><a href="https://github.com/sebastienbarbier/">
					<i class="fa fa-github"></i>
					</a></li>
				<li><a href="http://stackoverflow.com/users/4762763/sebastienbarbier">
					<i class="fa fa-stack-overflow"></i>
					</a></li>
			</ul>
		</div>

		<script type="text/javascript">
			$(document).ready(function(){
				height = $(window).height() / 2 - $(".css_title").height() / 2 - 15;
				$(".js_title").css("padding-top", height).delay(200).show('fade', {duration: 1000});

				$(".js_progress").delay(1200).show('fade', {duration: 400}, function(){
					$(".js_bar").animate({
						width: "100%",
					}, 1000, function(){
						$(".js_progress").hide('fade', {duration: 300}, function(){
							$(".js_bar").css("width", '0px');
							$(".js_network").show('slide', {direction: "down"}, 700);
							$(".css_button").show('fade', {direction: "down"}, 1000);

							$(".js_scrolldown").show('fade', {direction: "down"}, 1000);
							
							$(".content").show();

						});
					});
				});
			});
		</script>

		<!-- Piwik -->
		<script type="text/javascript">
		  var _paq = _paq || [];
		  _paq.push(['trackPageView']);
		  _paq.push(['enableLinkTracking']);
		  (function() {
			var u="//stats.sebastienbarbier.com/";
			_paq.push(['setTrackerUrl', u+'piwik.php']);
			_paq.push(['setSiteId', 1]);
			var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
			g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
		  })();
		</script>
		<noscript><p><img src="//stats.sebastienbarbier.com/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
		<!-- End Piwik Code -->
	</body>
</html>
