@import '../../../assets/scss/variables';

header {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: $indexContent;

  // sebastienbarbier logo as text
  a.logo {
    display: inline-block;
    height: $headerFontSize;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    position: relative;
    left: -8px;
    @media screen and (max-width: $md - 1px) {
      display: none;
    }

    @media screen and (min-width: $md) and (max-width: $lg - 1px) {
      margin: $paddingMedium 0 0;
      margin-left: $paddingMedium;
    }
    @media screen and (min-width: $lg) {
      margin: $paddingMedium 0 0;
      margin-left: $paddingLarge;
    }

    img {
      height: 100%;
      color: transparent;
    }
  }

  label{
    cursor: pointer;
    position: fixed;
    width: $headerFontSize;
    height: $headerFontSize;
    z-index: $indexNavigation;

    @media screen and (max-width: $sm) {
      position: absolute;
      top: $paddingMedium;
      right: $paddingSmall;
    }

    @media screen and (min-width: $sm) and (max-width: $md - 1px) {
      position: absolute;
      top: $paddingMedium;
      right: $paddingMedium;
    }

    @media screen and (min-width: $md) and (max-width: $lg - 1px) {
      top: $paddingMedium;
      right: $paddingMedium;
    }
    @media screen and (min-width: $lg) {
      top: $paddingMedium;
      right: $paddingLarge;
    }

    #navigation__button__close { fill:white; visibility: hidden; }

    @keyframes rotate {
      from {
        transform: rotate(360deg);
      }

      to {
        transform: rotate(0deg);
      }
    }

    svg {
      position: absolute;
      &:first-child {
        visibility: visible;
        opacity: 1;
        transition: opacity 150ms 50ms, visibility 0s;
      }
      &:last-child {
        visibility: hidden;
        opacity: 0;
        animation: 1s infinite linear normal rotate;
        animation-play-state: paused;
        transition: opacity 150ms, visibility 0s 150ms;
      }
    }
    &.isLoading {
      svg:first-child {
        visibility: hidden;
        opacity: 0;
        transition: opacity 150ms, visibility 0s 150ms;
      }
      svg:last-child {
        visibility: visible;
        opacity: 1;
        transition: opacity 150ms 50ms, visibility 0s;
        animation-play-state: running;
      }
    }
  }
}
