/* LESS definition. By Sebastien BARBIER */

//@import "reset.css";
@import "fonts.less";
@import "css_fonctions.less";

body, html {
	height: 100%;
}

body {
	font-family: "robotolight", Arial !important;
	background: url('../images/gplaypattern.png');
	font-size: 14px !important;
}

header {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display:         flex;
	-webkit-align-items: center;
			align-items: center;
	-webkit-justify-content: center;
			justify-content: center;
			
	// Main title
	h1 {
		text-shadow: 1px 1px 20px #000;
		z-index: 100;
		text-align: center;
		font-family: "robotothin", Arial;
		margin-bottom: 0;
		padding-bottom: 0;
		small {
			color: black;
		}
		@media (min-width: 767px) {
			font-size: 60px;
			line-height: 0.8em;
			small {
				font-size: 0.6em;
			}
		}
		@media (max-width: 768px) {
			font-size: 30px;
			line-height: 1em;
			small {
				font-size: 0.8em;
			}
		}

		-moz-animation-name: opacityTransition;
		-moz-animation-iteration-count: 1;
		-moz-animation-timing-function: ease-in;
		-moz-animation-duration: 0.8s;

		-webkit-animation-name: opacityTransition;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-timing-function: ease-in;
		-webkit-animation-duration: 0.8s;

		animation-name: opacityTransition;
		animation-iteration-count: 1;
		animation-timing-function: ease-in;
		animation-duration: 0.8s;
	}
	// Loading bar
	.css_loader {
		z-index: 10;
		position: absolute;
		top: 0;
		left: 0;
		background: black;
		height: 3px;
		width: 0%;

		-moz-animation-name: widthAnimate;
		-moz-animation-iteration-count: 1;
		-moz-animation-timing-function: ease-in;
		-moz-animation-duration: 2s;

		-webkit-animation-name: widthAnimate;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-timing-function: ease-in;
		-webkit-animation-duration: 2s;

		animation-name: widthAnimate;
		animation-iteration-count: 1;
		animation-timing-function: ease-in;
		animation-duration: 2s;
	}

	// Bottom carret
	.css_scrolldown {
		width: 60px;
		margin: auto;
		position: absolute;
		bottom: 15%;
		left: 50%;
		margin-left: -30px;
		font-size: 60px;

		-moz-animation-name: opacityTransitionDelayed;
		-moz-animation-iteration-count: 1;
		-moz-animation-timing-function: ease-in;
		-moz-animation-duration: 2.5s;

		-webkit-animation-name: opacityTransitionDelayed;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-timing-function: ease-in;
		-webkit-animation-duration: 2.5s;

		animation-name: opacityTransitionDelayed;
		animation-iteration-count: 1;
		animation-timing-function: ease-in;
		animation-duration: 2.5s;
	}
}

@-moz-keyframes opacityTransition {
	0% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes opacityTransition {
	0% { opacity:0; }
	100% { opacity:1; }
}
@keyframes opacityTransition {
	0% { opacity:0; }
	100% { opacity:1; }
}

@-moz-keyframes opacityTransitionDelayed {
	0% { opacity:0; }
	66% { opacity:0; }
	100% { opacity:1; }
}
@-webkit-keyframes opacityTransitionDelayed {
	0% { opacity:0; }
	66% { opacity:0; }
	100% { opacity:1; }
}
@keyframes opacityTransitionDelayed {
	0% { opacity:0; }
	66% { opacity:0; }
	100% { opacity:1; }
}

@-moz-keyframes widthAnimate {
	0% { width: 0%; }
	80% { width: 100%; opacity: 1;  }
	100% { width: 100%; opacity: 0; }
}
@-webkit-keyframes widthAnimate {
	0% { width: 0%; }
	80% { width: 100%; opacity: 1;  }
	100% { width: 100%; opacity: 0; }
}
@keyframes widthAnimate {
	0% { width: 0%; }
	80% { width: 100%; opacity: 1;  }
	100% { width: 100%; opacity: 0; }
}

@-moz-keyframes slideEffect {
	0% { bottom: -50px; }
	80% {bottom: -50px; }
	100% { bottom: 0px; }
}
@-webkit-keyframes slideEffect {
	0% { bottom: -50px; }
	80% {bottom: -50px; }
	100% { bottom: 0px; }
}
@keyframes slideEffect {
	0% { bottom: -50px; }
	80% {bottom: -50px; }
	100% { bottom: 0px; }
}

.content {
	position: relative;
	padding-bottom: 60px;
	width: 100%;

	.css_portrait {
		text-align: center;
		@media (max-width: 767px) {
			text-align: left;
		}
		img {
			width: 100px;
		}
	}
}


footer {
	height: 50px;
	background: #CCC;

	@media (max-width: 767px) {
		position: static;
	}
	@media (min-width: 768px) {
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;

		-moz-animation-name: slideEffect;
		-moz-animation-iteration-count: 1;
		-moz-animation-timing-function: ease-in;
		-moz-animation-duration: 2.3s;

		-webkit-animation-name: slideEffect;
		-webkit-animation-iteration-count: 1;
		-webkit-animation-timing-function: ease-in;
		-webkit-animation-duration: 2.3s;

		animation-name: slideEffect;
		animation-iteration-count: 1;
		animation-timing-function: ease-in;
		animation-duration: 2.3s;
	}

	ul {
		float: right;
		margin-right: 20px;
		list-style: none;
		li {
			background: #EEE;
			float: left;
			width: 36px;
			height: 36px;
			margin: 6px 8px 0px 0px;
			.border-radius (20px);
			.fa {
				font-size: 24px;
				padding: 5px 0 0 7px;
			}
			.fa-twitter {
				padding: 6px 0 0 7px;
			}
			.fa-facebook {
				padding: 6px 0 0 9px;
				color: #3B5998;
			}
			.fa-linkedin {
				padding: 5px 0 0 8px;
			}
			.fa-github {
				color: black;
			}
			.fa-stack-overflow {
				color: orange;
			}
		}
	}
}
