<article class="padding">
  <div class="block">
    <h2>Avatar</h2>
    <img src="/assets/images/sebastienbarbier_profile_512.jpg" alt="Selfie of Sebastien, front laying, head rotated 45 degrees, with  blurred NYC on the background." />
    <ul>
      <li>
        <a href="/assets/images/sebastienbarbier_profile_full.jpg" target="_blank">Original</a>
      </li>
      <li>
        <a href="/assets/images/sebastienbarbier_profile_1024.jpg" target="_blank">1024px</a>
      </li>
      <li>
        <a href="/assets/images/sebastienbarbier_profile_512.jpg" target="_blank">512px</a>
      </li>
      <li>
        <a href="/assets/images/sebastienbarbier_profile_256.jpg" target="_blank">256px</a>
      </li>
    </ul>
  </div>
  <div class="block">
    <h2>Logo</h2>
    <img src="/assets/images/sebastienbarbier_logo.svg" alt="Sebastien's logo which is a collapsed single workd of his firstname andd lastname with a open sans font." />
    <ul>
      <li>
        <a href="/assets/images/sebastienbarbier_logo.svg" target="_blank">svg</a>
      </li>
    </ul>
  </div>
</article>
