<article>
  <div>
    <h2>Avatar</h2>
    <img src="https://secure.gravatar.com/avatar/c58d4131abbd297dcfd1ea60311fbdd4?s=256" alt="Selfie of Sebastien, front laying, head rotated 45 degrees, with  blurred NYC on the background." />
    <ul>
      <li>
        <a href="https://secure.gravatar.com/avatar/c58d4131abbd297dcfd1ea60311fbdd4?s=2048" target="_blank">2048px</a>
      </li>
      <li>
        <a href="https://secure.gravatar.com/avatar/c58d4131abbd297dcfd1ea60311fbdd4?s=1024" target="_blank">1024px</a>
      </li>
      <li>
        <a href="https://secure.gravatar.com/avatar/c58d4131abbd297dcfd1ea60311fbdd4?s=512" target="_blank">512px</a>
      </li>
      <li>
        <a href="https://secure.gravatar.com/avatar/c58d4131abbd297dcfd1ea60311fbdd4?s=256" target="_blank">256px</a>
      </li>
    </ul>
  </div>
  <div>
    <h2>Logo</h2>
    <img src="https://cdn2.sebastienbarbier.com/images/sebastienbarbier_logo.svg" alt="Sebastien's logo which is a collapsed single workd of his firstname andd lastname with a open sans font." />
    <ul>
      <li>
        <a href="https://cdn2.sebastienbarbier.com/images/sebastienbarbier_logo.svg" target="_blank">svg</a>
      </li>
    </ul>
  </div>
</article>
