@import '../../assets/scss/variables';

article {
  max-width: $articleWidth;

  // Asset with thumbnail and list of resolution available.
  div {
    margin: 0 10px 60px;

    h3 {
      margin-top: 40px;
    }

    img {
      max-width: 200px;
      max-height: 80px;
    }

    ul {
      list-style: none;
      display: flex;
      padding: 0;
      margin: 0;
      li {
        margin: 4px 8px 4px 0;
        a {
          background: #AAA;
          color: white;
          text-decoration: none;
          padding: 4px 8px;
          font-weight: 600;
          font-size: 0.9em;
          border-radius: 4px;
          border: none;
          &.primary {
            background: rgb(44, 124, 176);
          }
        }
      }
    }
  }

}
