<div class="wrapper pt">
  <div class="container pb centered">

    <h1 class="center">Resources</h1>

    <h2>Avatar</h2>

    <img src="/assets/images/ressources/sebastienbarbier_profile_256.jpg" alt="Selfie of Sebastien, front laying, head rotated 45 degrees, with  blurred NYC on the background." />
    <ul>
      <li>
        <a download href="/assets/images/ressources/sebastienbarbier_profile_full.jpg">Original</a>
      </li>
      <li>
        <a download href="/assets/images/ressources/sebastienbarbier_profile_1024.jpg">1024px</a>
      </li>
      <li>
        <a download href="/assets/images/ressources/sebastienbarbier_profile_512.jpg">512px</a>
      </li>
      <li>
        <a download href="/assets/images/ressources/sebastienbarbier_profile_256.jpg">256px</a>
      </li>
    </ul>

    <h2>Logo</h2>

    <img src="/assets/images/ressources/sebastienbarbier_logo.svg" alt="Sebastien's logo which is a collapsed single workd of his firstname andd lastname with a open sans font." />
    <ul>
      <li>
        <a download href="/assets/images/ressources/sebastienbarbier_logo.svg">svg</a>
      </li>
      <li>
        <a download href="/assets/images/ressources/sebastienbarbier_logo.png">png</a>
      </li>
    </ul>
    <img class="dark_background" src="/assets/images/ressources/sebastienbarbier_logo_white.svg" alt="Sebastien's logo which is a collapsed single workd of his firstname andd lastname with a open sans font." />
    <ul>
      <li>
        <a download href="/assets/images/ressources/sebastienbarbier_logo_white.svg">svg</a>
      </li>
      <li>
        <a download href="/assets/images/ressources/sebastienbarbier_logo_white.png">png</a>
      </li>
    </ul>

  </div>
  <route-footer></route-footer>
</div>
