article {
  font-size: 1.1em;

  @media screen and (max-width: 599px) {
    margin: 160px 20px 20px 20px;
    font-size: 1em;
  }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    margin: 220px 20px 20px 60px;
    font-size: 1em;
  }
  @media screen and (min-width: 1000px) {
    font-size: 1.1em;
    width: 720px;
    margin: auto;
    margin-top: 220px;
  }
}
