@import '../../../assets/scss/variables';

img {
  max-width: 100%;
}

@include for-tablet-landscape-down {

  dl {
    width: 100%;
    margin: 0;

    display: grid;
    margin-top: 3em;
    margin-bottom: 4em;

    dt {
      font-weight: bold;
      text-transform: uppercase;
      text-align: left;
      grid-row: 1;
    }
    dd {
      margin-left: 0;
      opacity: 0.8;
      text-align: left;
      &:last-of-type {
        margin-bottom: 0;
      }

      grid-row: 2;
    }
    dt, dd {
      font-size: 0.9em;
    }
  }
}

@include for-tablet-landscape-up {

  .container {
    display: grid;
    gap: 10px;
    width: 100%;
    align-items: center;

    h1 {
      grid-column: 1 / span 4;
      grid-row: 1;
    }

    h1 + div {
      grid-column: 2 / span 3;
      grid-row: 2;
      margin: 0;
    }

    p + dl {
      grid-column: 1 / span 1;
      grid-row: 2 / span 2;
    }

    div.two_tablets_two_mobiles {
      grid-row: 4;
      grid-column: 1 / span 4;
    }
  }

  dl {
    margin-right: 80px;
    dt {
      font-weight: bold;
      margin-bottom: 0.2em;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    dd {
      margin-bottom: 2em;
      opacity: 0.8;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    dt, dd {
      text-align: right;
      font-size: 0.9em;
    }
  }

  img {

      grid-column: 1 / span 4;
      grid-row: 3;
  }
}
