<div class="wrapper pt works">
  <div class="container">
    <h1 class="centered"><small>Personal project </small>FromEdwin</h1>

    <div>
      <p>This project is an <strong>opinionated no code monitoring tool</strong> for web projects.</p>
      <p>It is currently <strong>under development</strong> and will be released later this year.</p>
    </div>

    <dl>
      <dt>Year</dt>
      <dd>2022</dd>
      <dt>Stack</dt>
      <dd>Django</dd>
      <dt>Visit</dt>
      <dd><a href="https://fromedwin.com">fromedwin.com</a></dd>
    </dl>

    <img src="/assets/images/fromedwin/macbook-status-sebastienbarbier.png" alt=""/>
  </div>
  <nav>
    <a routerLink="/works" class="back" role="button">< Back</a>
    <a routerLink="/works/seven23" class="back" role="button">Next project: Seven23</a>
  </nav>
  <route-footer></route-footer>
</div>
