<div class="wrapper pt works">
  <div class="container">
    <h1 class="centered"><small>Personal project </small>FromEdwin</h1>

    <div>
      <p>This project is an <strong>opinionated no code monitoring tool</strong> for web projects.</p>
      <p>It is currently <strong>under development</strong> and will be released later this year.</p>
    </div>

    <dl>
      <dt>Year</dt>
      <dd>2022</dd>
      <dt>Stack</dt>
      <dd>
        <ul class="skills">
          <li>Django</li>
          <li>Tailwind.css</li>
        </ul>
      </dd>
      <dt>Visit</dt>
      <dd><a href="https://fromedwin.com">fromedwin.com</a></dd>
    </dl>

    <img src="/assets/images/fromedwin/macbook-status-sebastienbarbier.png" alt=""/>
  </div>
  <nav class="end_page">
    <a routerLink="/works" class="back" role="button"><svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m0 0h24v24h-24z" fill="none"/><path d="m20 11h-12.17l5.59-5.59-1.42-1.41-8 8 8 8 1.41-1.41-5.58-5.59h12.17z"/></svg> Selected Works</a>
    <a routerLink="/works/seven23" class="back" role="button">Next project: Seven23</a>
  </nav>
  <route-footer></route-footer>
</div>
