
@import '../../assets/scss/variables';

article {

  section {
    padding: 40px 0;

    @media screen and (max-width: $md - 1px) {
      padding: 40px 20px;
    }

    &:first-child {
      text-align: center;
      p {
        font-size: 1.5em;
        @media screen and (max-width: $md) {
          font-size: 1.2em;
        }
      }
    }

    h2 {
      padding-top: 60px;
      span {
        font-weight: 300;
        font-size: 0.8em;
        letter-spacing: -0.5px;
      }
    }
  }
}

.project_thumbnail {
  width: 100%;
  border: solid 1px #ccc;
  min-height: 410px;
  border-radius: 6px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  img {
    max-width: 100%;
  }
  
  .description {
    width: 100%;

    text-align: left;

    opacity: 0.6;
    padding: 20px 8px 0px 8px;
    margin: 0;
    transition: opacity 250ms linear;

    p {
      padding: 0;
      margin: 0;
      font-size: 16px !important;
      
      span.techs {
        text-transform: uppercase;
        opacity: 0.7;
        font-size: 0.6em;
        transition: all 250ms linear;
        font-weight: 600;
        padding-left: 8px;

        background: linear-gradient(to right, #000 0%, transparent 200px);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      strong {
        font-size: 1em;
        opacity: 1;
      }
    }

  }

  &:hover {
    .description {

      opacity: 1;
      transition: opacity 250ms linear;
      span.techs {
        opacity: 1;
        transition: all 250ms linear;
      }
    }
  }
}

.seven23 {

  .logo {
    margin: 8px 10px 8px 0;
    p {
      text-align: left;
    }
    img {
      max-width: 100%;
    }
    img:first-child {
      height: 70px;
      margin-right: 10px;
    }
    img:last-child {
      height: 50px;
    }
  }

  .tablet_mobile_wrapper {
    padding: 40px;
    position: relative;
    aspect-ratio: 1.5;

    display: flex;
    align-items: center;
    justify-content: center;

    $ipad-width: 38%;
    $ipad-height: $ipad-width * 2448 / 3132;
    $iPhone-width: $ipad-width / 2 - $ipad-width / 10;

    .browser, .mobile {
      -webkit-filter: drop-shadow(0 2px 4px rgba(0,0,0,.3));
      -moz-filter: drop-shadow(0 2px 4px rgba(0,0,0,.3));
      -ms-filter: drop-shadow(0 2px 4px rgba(0,0,0,.3));
      -o-filter: drop-shadow(0 2px 4px rgba(0,0,0,.3));
      filter: drop-shadow(0 2px 4px rgba(0,0,0,.3));
    }
    .browser {
      width: 100%;
      margin-right: 5%;
    }
    .mobile {
      position: absolute;
      width: 20%;
      margin-top: 20%;
      margin-left: 55%;
    }
  }
}
