<article>
  <section>
    <h2>Seven23</h2>
    <p>Personal budget application for (but not only) nomads.</p>
    <div class="stack">
      <h3>Client</h3>
      <ul>
        <li>Javascript</li>
        <li>Angular</li>
        <li>Material</li>
        <li>Flux</li>
        <li>WebWorker</li>
        <li>IndexedDb</li>
      </ul>
      <h3>Server</h3>
      <ul>
        <li>Python</li>
        <li>Django</li>
        <li>RESTfull API</li>
        <li>Postgresql</li>
      </ul>
    </div>
    <p><a href="https://seven23.io">Website</a> \ <a href="https://github.com/sebastienbarbier/seven23_webapp">Github</a></p>
  </section>
  <section>
    <h2>MPDBox</h2>
    <p>Build a NFC music reader using a raspberry Pi.</p>
    <div class="stack">
      <h3>Server</h3>
      <ul>
        <li>Python</li>
        <li>SQLite</li>
        <li>MPD (Music Player Deamon)</li>
        <li>Raspberry Pi</li>
        <li>Linux</li>
      </ul>
    </div>
    <p><a href="https://github.com/mpd-box">Github</a></p>
  </section>
</article>
