@import '../../assets/scss/variables';

article {
  font-size: 1.1em;

  @media screen and (max-width: 599px) {
    margin: 80px 20px 20px 20px;
    font-size: 1em;
  }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    margin: 220px 20px 20px 60px;
    font-size: 1em;
  }
  @media screen and (min-width: 1000px) {
    font-size: 1.1em;
    margin: 220px 120px 20px 120px;
  }

  section {
    border-top: solid 1px $light2;
    &:last-child {
      border-bottom: solid 1px $light2;
    }
    @media screen and (max-width: 599px) {
      padding: 40px 10px;
    }
    @media screen and (min-width: 600px) and (max-width: 999px) {
      padding: 40px 30px;
    }
    @media screen and (min-width: 1000px) {
      padding: 40px 60px;
    }

    .stack {
      font-size: 0.8em;
      h3 {
        width: 70px;
        float: left;
        clear: both;
        margin: 0;
        text-transform: uppercase;
        font-size: 0.9em;
        font-weight: 300;
        padding-top: 12px;
      }
      ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        li {
          list-style: none;
          background: $light2;
          padding: 4px 7px;
          border-radius: 4px;
          margin-top: 4px;
          margin-right: 4px;
        }
      }
    }
  }
}
