<main>
  <div class="block">
    <section class="large">

      <aside>
        <img src="https://public.sebastienbarbier.com/images/seven23/Icon-83.5@2x.png" alt="Seven23 Icon" />
      </aside>

      <div>
        <h3>Seven23</h3>
        <p>{{ 'projects.seven23.description' | translate }}</p>
        <div class="stack">
          <h4>Webapp</h4>
          <ul>
            <li>Javascript</li>
            <li>React</li>
            <li>Material-ui</li>
            <li>D3js</li>
            <li>Flux</li>
            <li>WebWorker</li>
            <li>IndexedDb</li>
          </ul>
          <h4>{{ 'projects.server' | translate }}</h4>
          <ul>
            <li>Python</li>
            <li>Django</li>
            <li>RESTfull API</li>
            <li>Postgresql</li>
          </ul>
        </div>
        <ul class="thumbnails">
          <li><img src="https://public.sebastienbarbier.com/images/seven23/screenshots/1-dashboard.png" alt="Seven23 Dashboard" /></li>
          <li><img src="https://public.sebastienbarbier.com/images/seven23/screenshots/2-transactions.png" alt="Seven23 Transactions" /></li>
          <li><img src="https://public.sebastienbarbier.com/images/seven23/screenshots/3-changes.png" alt="Seven23 Changes" /></li>
          <li><img src="https://public.sebastienbarbier.com/images/seven23/screenshots/4-categories.png" alt="Seven23 Categories" /></li>
          <li><img src="https://public.sebastienbarbier.com/images/seven23/screenshots/5-settings.png" alt="Seven23 Settings" /></li>
        </ul>
        <p>Release 2018 \ <a href="https://github.com/sebastienbarbier/seven23_webapp">Github</a></p>
      </div>
    </section>
  </div>
  <div class="block line">
    <div class="column">
      <h2>{{ 'projects.sideproject.title' | translate }}</h2>
      <section>
        <aside>
          <img src="/assets/favicon.svg" alt="Seven23 Icon" />
        </aside>
        <div>
          <h3>sebastienbarbier.com</h3>
          <p>{{ 'projects.sebastienbarbier.description' | translate }}</p>
          <div class="stack">
            <h4>Website</h4>
            <ul>
              <li>Typescript</li>
              <li>Angular</li>
              <li>Angular Universal</li>
            </ul>
          </div>
          <p><a href="https://github.com/sebastienbarbier/sebastienbarbier.com">Github</a></p>
        </div>
      </section>
    </div>

    <div class="column">
      <h2>{{ 'projects.archives.title' | translate }}</h2>
      <section>
        <div>
          <h3>MPDBox <small>2015</small></h3>
          <p>{{ 'projects.mpdbox.description' | translate }}</p>
          <div class="stack">
            <h4>{{ 'projects.server' | translate }}</h4>
            <ul>
              <li>Python</li>
              <li>SQLite</li>
              <li>Music Player Deamon</li>
              <li>Raspberry Pi</li>
              <li>Linux</li>
            </ul>
            <h4>Client Cli</h4>
            <ul>
              <li>Node</li>
              <li>Inquirer</li>
            </ul>
          </div>
          <p><a href="https://github.com/mpd-box">Github</a></p>
        </div>
      </section>
    </div>
  </div>
</main>
