<main>
  <h2>{{ 'projects.mainproject.title' | translate }}</h2>
  <section>
    <h3>Seven23</h3>
    <p>{{ 'projects.seven23.description' | translate }}</p>
    <div class="stack">
      <h4>Webapp</h4>
      <ul>
        <li>Javascript</li>
        <li>React</li>
        <li>Material-ui</li>
        <li>D3js</li>
        <li>Flux</li>
        <li>WebWorker</li>
        <li>IndexedDb</li>
      </ul>
      <h4>{{ 'projects.server' | translate }}</h4>
      <ul>
        <li>Python</li>
        <li>Django</li>
        <li>RESTfull API</li>
        <li>Postgresql</li>
      </ul>
    </div>
    <p><a href="https://seven23.io">{{ 'projects.website' | translate }}</a> \ <a href="https://github.com/sebastienbarbier/seven23_webapp">Github</a></p>
  </section>

  <div class="line">
    <div class="column">
      <h2>{{ 'projects.others.title' | translate }}</h2>
      <section>
        <h3>sebastienbarbier.com</h3>
        <p>{{ 'projects.sebastienbarbier.description' | translate }}</p>
        <div class="stack">
          <h4>Website</h4>
          <ul>
            <li>Typescript</li>
            <li>Angular</li>
            <li>Angular Universal</li>
          </ul>
        </div>
        <p><a href="https://github.com/sebastienbarbier/sebastienbarbier.com">Github</a></p>
      </section>
    </div>

    <div class="column">
      <h2>{{ 'projects.archives.title' | translate }}</h2>
      <section>
        <h3>MPDBox <small>2015</small></h3>
        <p>{{ 'projects.mpdbox.description' | translate }}</p>
        <div class="stack">
          <h4>{{ 'projects.server' | translate }}</h4>
          <ul>
            <li>Python</li>
            <li>SQLite</li>
            <li>Music Player Deamon</li>
            <li>Raspberry Pi</li>
            <li>Linux</li>
          </ul>
          <h4>Client Cli</h4>
          <ul>
            <li>Node</li>
            <li>Inquirer</li>
          </ul>
        </div>
        <p><a href="https://github.com/mpd-box">Github</a></p>
      </section>
    </div>
  </div>
</main>
