article {

  @media screen and (max-width: 599px) {
    margin: 140px 20px 20px 20px;
    font-size: 1em;
  }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    margin: 160px 20px 20px 60px;
    font-size: 1em;
  }
  @media screen and (min-width: 1000px) {
    font-size: 1em;
    width: 720px;
    margin: auto;
    margin-top: 160px;
  }

  h3 {
    margin-top: 40px;
  }
}
