<div class="wrapper pt">
  <div class="container pb">


    <h1><small>Where to find me</small>Let's connect !</h1>

    <h2>Email</h2>

    <p class="email"><a href="mailto:hello@sebastienbarbier.com">hello@sebastienbarbier.com</a></p>

    <h2>Working place</h2>

    <h3>Twitter</h3>
    <img src="/assets/images/logos/twitter_logo.svg" alt="Twitter logo" />
    <p>Where I can turn my thoughts into 140 characters of pure gold, or just randomly tweet about my breakfast and scroll aimlessly to procrastinate on more important tasks.</p>
    <a target="_blank" href="http://www.twitter.com/SebBarbier/">@SebBarbier</a>

    <h3>Github</h3>
    <img src="/assets/images/logos/github_logo.svg" alt="Github logo" />
    <p>This is where I showcase my coding skills to the world, or to just store my code snippets so I don't lose them when I inevitably format my computer.</p>
    <a target="_blank" href="https://github.com/sebastienbarbier/">@sebastienbarbier</a>

    <h3>Stack Overflow</h3>
    <img src="/assets/images/logos/stackoverflow_logo.svg" alt="Stack Overflow logo" />
    <p>This one is great for searching answers to my coding questions and to realize that I should have just googled it in the first place.</p>
    <a target="_blank" href="http://stackoverflow.com/users/4762763/sebastienbarbier">@sebastienbarbier</a>

    <h3>LinkedIn</h3>
    <img src="/assets/images/logos/linkedin_logo.svg" alt="Linkedin logo" />
    <p>Mostly pretend I'm networking, but really just talking with ex's coworkers and comparing my career path to theirs.</p>
    <a target="_blank" href="https://www.linkedin.com/in/sebbarbier/">@sebbarbier</a>


    <h2>Living place</h2>

    <h3>Nomad List</h3>
    <img src="/assets/images/logos/nomadlist_logo.png" alt="Nomadlist logo" />
    <p>Love to plan some traveling to exotic locations, even though I'll probably just end up spending all my time in cafes working remotely and trying new coffee.</p>
    <a target="_blank" href="https://nomadlist.com/@sebastienbarbier">@sebastienbarbier</a>

    <h3>Instagram</h3>
    <img src="/assets/images/logos/instagram_logo.svg" alt="Instagram logo" />
    <p>showcasing the highlight reel of my life, or to just post pictures of my food and make everyone else on the platform jealous.</p>
    <a target="_blank" href="https://instagram.com/sebastienbarbier/">@sebastienbarbier</a>

    <h3>Keybase.io</h3>
    <img src="/assets/images/logos/keybase_logo.svg" alt="Keybase.io logo" />
    <p>This is where I prove my online identities, because apparently having a username and password just isn't enough these days.</p>
    <a target="_blank" href="https://keybase.io/sebastienbarbier">@sebastienbarbier</a>

    <h3>Web3</h3>
    <img src="/assets/images/logos/ethereum_logo.svg" alt="Ethereum logo" />
    <p>Let's trade virtual cats and feel like a futuristic millionaire, even though in reality I have no idea what I'm doing.</p>
    <a target="_blank" href="https://app.ens.domains/name/sebastienbarbier.eth/details">sebastienbarbier.eth</a>

  </div>
  <route-footer></route-footer>
</div>
