<h1>{{ 'nav.contact' | translate }}</h1>
<article class="padding" style="margin-top: 160px;">
  <section>
    <h2>{{ 'contact.email' | translate }}</h2>
    <p><a href="mailto:hello@sebastienbarbier.com">hello@sebastienbarbier.com</a></p>
  </section>
  <section>
    <h2>{{ 'contact.about_work' | translate }}</h2>
    <ul>
      <li>
        <div class="logo"><img src="/assets/images/twitter_logo.svg" alt="Twitter logo" /></div>
        <div>
          <h3>Twitter</h3>
          <p>{{ 'contact.twitter_description' | translate }}</p>
          <a target="_blank" href="http://www.twitter.com/SebBarbier/">@SebBarbier</a>
        </div>
      </li>
      <li>
        <div class="logo"><img src="/assets/images/github_logo.svg" alt="Github logo" /></div>
        <div>
          <h3>Github</h3>
          <p>{{ 'contact.github_description' | translate }}</p>
          <a target="_blank" href="https://github.com/sebastienbarbier/">@sebastienbarbier</a>
        </div>
      </li>
      <li>
        <div class="logo"><img src="/assets/images/stackoverflow_logo.svg" alt="Stack Overflow logo" /></div>
        <div>
          <h3>Stack Overflow</h3>
          <p>{{ 'contact.stackoverflow_description' | translate }}</p>
          <a target="_blank" href="http://stackoverflow.com/users/4762763/sebastienbarbier">@sebastienbarbier</a>
        </div>
      </li>
      <li>
        <div class="logo"><img src="/assets/images/linkedin_logo.svg" alt="Linkedin logo" /></div>
        <div>
          <h3>LinkedIn</h3>
          <p>{{ 'contact.linkedin_description' | translate }}</p>
          <a target="_blank" href="https://www.linkedin.com/in/sebbarbier/">@sebbarbier</a>
        </div>
      </li>
      <li>
        <div class="logo"><img src="/assets/images/malt_logo.svg" alt="Malt logo" /></div>
        <div>
          <h3>Malt</h3>
          <p>{{ 'contact.malt_description' | translate }}</p>
          <a target="_blank" href="https://www.malt.fr/profile/sebastienbarbier">@sebastienbarbier</a>
        </div>
      </li>
      <li>
        <div class="logo"><img src="/assets/images/cremedelacreme_logo.svg" alt="Crème de la crème logo" /></div>
        <div>
          <h3>Crème de la crème</h3>
          <p>{{ 'contact.cremedelacreme_description' | translate }}</p>
          <a target="_blank" href="https://app.cremedelacreme.io/sebastienbarbier">@sebastienbarbier</a>
        </div>
      </li>
    </ul>
    <h2>{{ 'contact.about_life' | translate }}</h2>
    <ul>
      <li>
        <div class="logo"><img src="/assets/images/facebook_logo.svg" alt="Facebook logo" /></div>
        <div>
          <h3>Facebook</h3>
          <p>{{ 'contact.facebook_description' | translate }}</p>
          <a target="_blank" href="http://www.facebook.com/sebastienbarbier/">@sebastienbarbier</a>
        </div>
      </li>
      <li>
        <div class="logo"><img src="/assets/images/nomadlist_logo.png" alt="Nomadlist logo" /></div>
        <div>
          <h3>Nomad List</h3>
          <p>{{ 'contact.nomadlist_description' | translate }}</p>
          <a target="_blank" href="https://nomadlist.com/@sebastienbarbier">@sebastienbarbier</a>
        </div>
      </li>
      <li>
        <div class="logo"><img src="/assets/images/instagram_logo.svg" alt="Instagram logo" /></div>
        <div>
          <h3>Instagram</h3>
          <p>{{ 'contact.instagram_description' | translate }}</p>
          <a target="_blank" href="https://instagram.com/sebastienbarbier/">@sebastienbarbier</a>
        </div>
      </li>
    </ul>
    <h2>{{ 'contact.others' | translate }}</h2>
    <ul>
      <li>
        <div class="logo"><img src="/assets/images/keybase_logo.svg" alt="Keybase.o logo" /></div>
        <div>
          <h3>Keybase.io</h3>
          <p>{{ 'contact.keybase_description' | translate }}</p>
          <a target="_blank" href="https://keybase.io/sebastienbarbier">@sebastienbarbier</a>
        </div>
      </li>
    </ul>
  </section>
</article>
