@import '../../assets/scss/variables';

img {
  float: right;
  width: 2em;
  margin: 1em 2em;
}

h1 {
  text-align: center;
}

h2 {
  padding-top: 2.5em;
  padding-bottom: 0.5em;
}

.email {
  @include serif;
  font-size: 2em;
  padding-top: 0px;
  margin-top: 0px;
}
