@use '../../assets/scss/_variables' as *;

img {
  float: right;
  width: 2em;
  margin: 1em 2em;
}

h1 {
  text-align: center;
}

h2 {
  padding-bottom: 0.5em;
}

.email {
  @include serif;
  & {
    font-size: 2em;
    padding-top: 0px;
    margin-top: 0px;
  }

  @include for-tablet-landscape-down {
    font-size: 1.5em;
  }

  @include for-phone-only {
    font-size: 1.3em;
  }
}
