@import '../../assets/scss/layout';

article {

  section {
    padding: 40px 0;

    @media screen and (max-width: $md - 1px) {
      padding: 40px 20px;
    }

    &:first-child {
      text-align: center;
      p {
        font-size: 1.5em;
        @media screen and (max-width: $md) {
          font-size: 1.2em;
        }
      }
    }

    h2 {
      span {
        font-weight: 300;
        font-size: 0.8em;
        letter-spacing: -0.5px;
      }
    }

    p.email {
      margin-top: 0;
      a.pgp {
        font-size: 0.4em;
        border: none;
        margin-top: 0.5em;
        margin-left: 12px;
        display: inline-block;
        background: rgba(100, 100, 100, 0.6);
        color: white;
        border-radius: 4px;
        padding: 2px 4px;
        font-weight: 700;
        position: relative;
        bottom: 1em;
      }
    }


    ul {
      margin: 0;
      li {
        padding: 30px 0;
        list-style: none;
        text-align: left;
        display: flex;
        align-items: flex-start;

        @media screen and (max-width: 599px) {
        }

        h3 {
          margin: 2px 0 6px;
        }
        p {
          margin: 2px 0;
        }
        a {
          font-size: 0.9em;
        }
        .logo {
          width: 32px;
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-shrink: 0;
          margin-right: 20px;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
  }
}
