<div class="wrapper pt">
  <div class="container pb centered">


    <h1><small>Where to find me</small>Let's connect !</h1>

    <h2>Email</h2>

    <p class="email"><a href="mailto:hello@sebastienbarbier.com">hello@sebastienbarbier.com</a></p>

    <h2>About work</h2>

    <h3>X</h3>
    <img src="/assets/images/logos/x_logo.png" alt="X logo" />
    <p>I'm not the best at tweeting, but I use it every day to stay informed, so it's probably the <strong>best way to reach me</strong>.</p>
    <a target="_blank" href="http://x.com/SebBarbier/">@SebBarbier</a>

    <h3>Github</h3>
    <img src="/assets/images/logos/github_logo.svg" alt="Github logo" />
    <p>All <strong>my best work can be found here</strong>. Take a look to see what I've been working on lately.</p>
    <a target="_blank" href="https://github.com/sebastienbarbier/">@sebastienbarbier</a>


    <h3>LinkedIn</h3>
    <img src="/assets/images/logos/linkedin_logo.svg" alt="Linkedin logo" />
    <p>It's a great way for me to <strong>stay in touch with work friends</strong>. I don't post often, but I do respond to messages from time to time.</p>
    <a target="_blank" href="https://www.linkedin.com/in/sebbarbier/">@sebbarbier</a>

    <h3>Stack Overflow</h3>
    <img src="/assets/images/logos/stackoverflow_logo.svg" alt="Stack Overflow logo" />
    <p>I haven't been as active since ChatGPT and Copilot, but <strong>explaining something is the best way to ensure my understanding</strong>, so I still visit from time to time.</p>
    <a target="_blank" href="http://stackoverflow.com/users/4762763/sebastienbarbier">@sebastienbarbier</a>

    <h2>About life</h2>

    <h3>Nomad List</h3>
    <img src="/assets/images/logos/nomadlist_logo.png" alt="Nomadlist logo" />
    <p>As a travel addict, I need a way to <strong>meet new friends</strong> wherever I go. Nomad List is great for that.</p>
    <a target="_blank" href="https://nomadlist.com/@sebastienbarbier">@sebastienbarbier</a>

    <h3>Instagram</h3>
    <img src="/assets/images/logos/instagram_logo.svg" alt="Instagram logo" />
    <p>I haven't published anything for years, but I <strong>secretly dream of pursuing photography</strong>. Be the first to see my attempts by following me.</p>
    <a target="_blank" href="https://instagram.com/sebastienbarbier/">@sebastienbarbier</a>

    <h3>Web3</h3>
    <img src="/assets/images/logos/ethereum_logo.svg" alt="Ethereum logo" />
    <p>I'm slowly <strong>learning about Web3</strong>, and my official username is <strong>sebastienbarbier.eth</strong> everywhere.</p>
    <a target="_blank" href="https://app.ens.domains/name/sebastienbarbier.eth/details">sebastienbarbier.eth</a>

  </div>
  <route-footer></route-footer>
</div>
