@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('../fonts/Atkinson-Hyperlegible-Regular-102.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('../fonts/Atkinson-Hyperlegible-Bold-102.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('../fonts/Atkinson-Hyperlegible-BoldItalic-102.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Atkinson Hyperlegible';
    src: url('../fonts/Atkinson-Hyperlegible-Italic-102.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}





