<div class="route">
  <route-header></route-header>
  <div class="content">

    <h1>{{ 'nav.work' | translate }}</h1>
    <div class="container">

      <section class="block">

        <div class="project">
          <div class="thumbnail">
            <img src="https://cellar-c2.services.clever-cloud.com/cdn.seven23.io/static/images/transactions-light.png" alt="" />
          </div>
          <div class="description">
            <h2>Seven23</h2>
            <p [innerHTML]="'work.seven23.description' | translate"></p>
            <div class="stack">
              <h4>Webapp</h4>
              <ul>
                <li>Javascript</li>
                <li>React</li>
                <li>Material-ui</li>
                <li>D3js</li>
                <li>Redux</li>
                <li>Web Worker</li>
                <li>Service Worker</li>
                <li>IndexedDb</li>
                <li>End-to-end encryption</li>
              </ul>
            </div>
            <div class="stack">
              <h4>{{ 'work.server' | translate }}</h4>
              <ul>
                <li>Python</li>
                <li>Django</li>
                <li>RESTfull API</li>
                <li>Postgresql</li>
              </ul>
            </div>
            <p><a href="https://seven23.io">Seven23.io</a> / <a href="https://github.com/sebastienbarbier/seven23_webapp">Github</a></p>
          </div>
        </div>

        <div class="gallery">
          <input type="radio" name="gallery" id="no_gallery" checked="checked" (change)="disableScrolling(false)" />
          <div class="gallery_list">
            <ul class="thumbnails">
              <li *ngFor="let photo of photos; let index = index" >
                <label for="gallery-{{index}}">
                  <img src="{{ photo.thumbnail }}" alt="{{ photo.alt }}" />
                </label>
              </li>
            </ul>
          </div>

          <div class="gallery_fullscreen">
            <header>
              <label for="no_gallery">
                <svg height="32px" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="32px" xml:space="preserve" xmlns:xlink="http://www.w3.org/1999/xlink"><path class="svgFillWhite" d="M443.6,387.1L312.4,255.4l131.5-130c5.4-5.4,5.4-14.2,0-19.6l-37.4-37.6c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4  L256,197.8L124.9,68.3c-2.6-2.6-6.1-4-9.8-4c-3.7,0-7.2,1.5-9.8,4L68,105.9c-5.4,5.4-5.4,14.2,0,19.6l131.5,130L68.4,387.1  c-2.6,2.6-4.1,6.1-4.1,9.8c0,3.7,1.4,7.2,4.1,9.8l37.4,37.6c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1L256,313.1l130.7,131.1  c2.7,2.7,6.2,4.1,9.8,4.1c3.5,0,7.1-1.3,9.8-4.1l37.4-37.6c2.6-2.6,4.1-6.1,4.1-9.8C447.7,393.2,446.2,389.7,443.6,387.1z"/></svg>
              </label>
            </header>
            <ul>
              <li *ngFor="let photo of photos; let index = index">
                <input type="radio" name="gallery" id="gallery-{{ index }}" (change)="disableScrolling(true)"  />
                <div class="viewer">
                  <img src="{{ photo.source }}" alt="{{ photo.alt }}" />
                  <div class="previous">
                    <label for="gallery-{{ index - 1 }}" *ngIf="photos[index - 1]"></label>
                  </div>
                  <div class="next">
                    <label for="gallery-{{ index + 1 }}" *ngIf="photos[index + 1]"></label>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <div class="line">

        <section class="block">
          <div class="project">
            <div class="description">
              <h2>sebastienbarbier.com</h2>
              <p>{{ 'work.sebastienbarbier.description' | translate }}</p>
              <div class="stack">
                <h4>Website</h4>
                <ul>
                  <li>Typescript</li>
                  <li>Angular</li>
                  <li>Angular Universal</li>
                </ul>
              </div>
              <p><a href="https://github.com/sebastienbarbier/sebastienbarbier.com">Github</a></p>
            </div>
          </div>
        </section>

        <section class="block">
          <div class="project">
            <div class="description">
              <h2>MPDBox <small>2015</small></h2>
              <p>{{ 'work.mpdbox.description' | translate }}</p>
              <div class="stack">
                <h4>{{ 'work.server' | translate }}</h4>
                <ul>
                  <li>Python</li>
                  <li>SQLite</li>
                  <li>Music Player Deamon</li>
                  <li>Raspberry Pi</li>
                  <li>Linux</li>
                </ul>
              </div>
              <div class="stack">
                <h4>Client Cli</h4>
                <ul>
                  <li>Node.js</li>
                  <li>Inquirer</li>
                </ul>
              </div>
              <p><a href="https://mpd-box.readthedocs.io">Documentation</a> / <a href="https://github.com/mpd-box">Github</a></p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
