<div class="route">

  <h1>{{ 'nav.work' | translate }}</h1>
  <div class="container">
    <div class="row">
      <header class="title col-10 offset-1 col-md-8 offset-md-2 justify-content-center">
        <h2 class="animate">Work I do</h2>

        <p class="animate">I work on <strong>designing</strong> and <strong>building products</strong> which might be useful. In the mean time, I also <strong>work as a freelance</strong> to help financing the development.<br/>Here is a <strong>presentation</strong> of my latest work.</p>
      </header>
    </div>
    <div class="row">
      <div class="col-12">
        <h3>Personal projects</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card large">
          <div class="row align-items-center">
            <div class="col-12 col-md-6">
              <h3 class="icon"><img src="/assets/svg/seven23_square.svg" alt="Seven23 logo" style="max-width: 60px;" />Seven23</h3>
              <p><strong>2019</strong>, Founder, Full stack developer</p>
            </div>
            <div class="col-12 col-md-6">
              <p [innerHTML]="'work.seven23.description' | translate"></p>
            </div>
          </div>
          <div class="">
              <a [routerLink]="['/work']">More about</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p>Full list of older/archived projects can be find on my <a href="" target="_blank">github profile</a>.</p>
      </div>
    </div>
  </div>
</div>
