@import '../../assets/scss/variables';
@import '../../assets/scss/layout';

header.title {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 160px $paddingSmall 5vh;
  font-weight: 700;
  text-align: center;
  max-width: 700px;
  margin: auto;
}

section.project {
  width: 100%;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  overflow: hidden;

  position: relative;
  &:after {
    content: '';
    position: absolute;
    bottom: 0; left: 0; right: 0;
    height: 20vh;
    background: linear-gradient(
      transparent, $light 80%
    );
    z-index: 0;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    overflow: auto;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scroll-snap-stop: always;

    li {
      scroll-snap-align: center;
      padding: 20px 40px;
      &:first-child {
      }
      img {
        max-height: 40vh;
      }
    }
  }

  .container {
    width: 100%;
    max-width: 1200px;
    padding: 10px $paddingSmall;
    display: flex;
    z-index: 50;
    h3, div {
      flex-grow: 1;
    }
    h3 {
      font-size: 2rem;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      img {
        height: 1.5em;
        border-radius: 4px;
        margin-right: 20px;
        box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0,0,0,.12);
      }
    }
  }
}



// section {
//   .project {
//     padding-right: calc(120px + 1.4rem);
//     max-width: 1280px;
//     margin: auto;
//     margin-top: 20px;
//     display: flex;
//     align-items: center;


//     @media screen and (max-width: 599px) {
//       padding-left: $mobilePadding;
//       padding-right: $mobilePadding;
//     }
//     @media screen and (min-width: 600px) and (max-width: 999px) {
//       padding-left: $mobilePadding * 2;
//       padding-right: $mobilePadding * 2;
//     }

//     @media screen and (max-width: 999px) {
//       flex-direction: column;
//       align-items: start;
//     }

//     @media screen and (min-width: 1000px) {
//       margin-bottom: 60px;
//     }

//     .thumbnail {
//       flex: 30%;
//       padding: 20px 40px;

//       @media screen and (max-width: 999px) {
//         flex: auto;
//         width: 50vw;
//         padding: 0;
//       }

//       img {
//         width: 100%;
//       }
//     }
//     .description {
//       padding: 20px 0 20px 0px;

//       h2 {
//         font-size: 4em;
//         margin: 0;
//       }
//     }
//   }

//   div.gallery {
//     padding-bottom: 40px;
//     margin: auto;



//     @media screen and (min-width: 1000px) {
//       max-width: 1220px;
//       padding-left: calc(120px + 1.4rem);
//       padding-right: calc(120px + 1.4rem);
//     }

//     div.gallery_list {
//       ul.thumbnails {
//         padding: 0;
//         display: flex;
//         list-style: none;

//         @media screen and (max-width: 999px) {
//           flex-wrap: none;
//           overflow: auto;
//           -webkit-overflow-scrolling: touch;
//           scroll-snap-type: x mandatory;
//         }

//         @media screen and (min-width: 1000px) {
//           flex-wrap: wrap;
//           justify-content: space-between;
//         }

//         li {
//           scroll-snap-align: center;
//           label {
//             display: block;
//             cursor: pointer;
//             height: 30vh;
//             max-height: 450px;
//             display: flex;
//             justify-content: center;
//             align-items: center;

//             @media screen and (min-width: 1000px) {
//               height: 220px;
//             }

//             img {
//               height: 100%;
//               margin-left: 10px;
//               margin-right: 10px;
//             }
//           }
//         }
//       }
//     }
//   }
// }

.line {
  display: flex;
  max-width: 1280px;
  padding-right: calc(120px + 1.4rem);
  margin: auto;
  justify-content: space-bewteen;

  @media screen and (max-width: 999px) {
    flex-direction: column;
    align-items: start;
  }

  @media screen and (min-width: 1000px) {
    margin-top: 20px;
    margin-bottom: 60px;
  }


  section {
    flex-shrink: 0;
    flex-grow: 1;

    @media screen and (min-width: 1000px) {
      padding: 0 40px;
    }

    h2 {
      font-size: 1.6rem !important;
    }
  }
}

section.project {
  input[type="radio"]#no_gallery {
    display: none;
    & + ul.gallery_list {
      opacity: 0;
      transition: opacity .250s;
    }

    &:checked + ul.gallery_list {
      opacity: 1;
      transition: opacity .250s .150s;
      label { cursor: pointer; }
    }

    &:checked + ul.gallery_list + div.gallery_fullscreen{
      visibility: hidden;
      opacity: 0;
      transition: opacity .250s, visibility 0s .250s;

    }
    & + ul.gallery_list + div.gallery_fullscreen{
      visibility: visible;
      position: fixed;
      top: 0px; bottom: 0px; left: 0px; right: 0px;
      background: $light;
      z-index: 1200;
      opacity: 1;
      transition: opacity .250s .1s;
      display: flex;
      flex-direction: column;
      header {
        width: 100%;
        flex-shrink: 0;
        flex-grow: 0;
        background: $light2;
        display: flex;
        justify-content: flex-end;
        label {
          cursor: pointer;
          float: right;
          background: $light3;
          padding: 8px 8px 0 8px;

          margin-right: constant(safe-area-inset-right);
          margin-right: env(safe-area-inset-right);
        }
      }
      ul {
        position: relative;
        padding: 0;
        margin: 0;
        list-style: none;
        flex-grow: 1;
        flex-shrink: 1;

        li {
          position: absolute;
          top: 0px; left: 0px; right: 0px; bottom: 0px;
          overflow: hidden;
          input[type="radio"]{
            display: none;
            & + div.viewer {
              opacity: 0;
              z-index: 210;
              height: 100%;
              display: flex;
              justify-content: center;
              align-itmes: center;
              transition: opacity .250s .250s;
              @media screen and (max-width: 1200px) {

                height: calc(100% - 80px);
              }
              img {
                max-width: calc(100vw - 250px);
                max-height: calc(90vh - 50px);
                margin: auto;
                @media screen and (max-width: 1200px) {
                  max-width: calc(100vw - 100px);
                  max-height: calc(90vh - 150px);
                }
                @media screen and (max-width: 680px) {
                  max-width: calc(100vw - 20px);
                  max-height: calc(90vh - 150px);
                }
              }
              div.next, div.previous {
                position: absolute;
                width: 100px;
                height: 100px;
                top: calc(50% - 50px);
                visibility: hidden;
                transition: visibility .0s .450s;
                z-index: 230;
                @media screen and (max-width: 1200px) {
                  top: auto;
                  bottom: 10px;
                }
                label {
                  width: 100%;
                  height: 100%;
                  cursor: pointer;
                  display: block;
                  opacity: 0.5;
                }
              }
              div.next {
                right: 10px;
                label {
                  background: url('/assets/svg/baseline-chevron_right-24px.svg') no-repeat center center;
                  background-size: 50px;
                }
              }
              div.previous {
                transform: rotate(180deg);
                left: 10px;
                label {
                  background: url('/assets/svg/baseline-chevron_right-24px.svg') no-repeat center center;
                  background-size: 50px;
                }
              }
            }
            &:checked + div.viewer {
              opacity: 1;
              transition: opacity .250s .250s;
              div.next, div.previous {
                visibility: visible;
                transition: visibility .0s;
              }
            }
          }
        }
      }
    }
  }
}
