<div class="route">
  <route-header></route-header>
  <div class="content">
    <h1>{{ 'nav.work' | translate }}</h1>
    <div style="width: 100%;">
      <div class="container">
        <div class="row">
          <header class="title col-10 offset-1 col-md-8 offset-md-2 justify-content-center">
            <h2>Work I do</h2>

            <p>I work on <strong>designing</strong> and <strong>building products</strong> which might be useful. In the mean time, I also <strong>work as a freelance</strong> to help financing the development.</p>
          </header>
        </div>
        <div class="row">
          <div class="col-12">
            <h3>Personal projects</h3>
          </div>
          <div class="col-12">
            <div class="card large">
              <div class="row align-items-center">
                <div class="col-12 col-md-6">
                  <h3 class="icon"><img src="/assets/svg/seven23_square.svg" alt="Seven23 logo" style="max-width: 60px;" />Seven23</h3>
                  <p><strong>2019</strong>, Founder, Full stack developer</p>
                </div>
                <div class="col-12 col-md-6">
                  <p [innerHTML]="'work.seven23.description' | translate"></p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <p style="text-align: right;">Full list of older/archived projects can be find on my <a routerLink="/work" class="btn"><img src="/assets/images/logos/github_logo.svg" alt="Github logo" /> Github profile</a>.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h3>Animation</h3>
            <p>I love animations, haven't done any, but trust me I love it.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h3>Freelancing</h3>
            <p>Since 2016, I offer my services as full stack web developer. Only charge my work on a time-based terms.</p>
          </div>
          <div class="col-12">
            <h3 style="text-align: center;">Available for hire</h3>
            <div class="row">
              <div class="col-12 col-md-4 offset-md-1">
                <p>Go to malt, and we can start working together as soon as tomorrow.</p>
                <p style="text-align: right;"><a routerLink="/work" class="btn"><img src="/assets/images/logos/malt_logo.svg" alt="Github logo" /> Hire me on malt</a></p>
              </div>
              <div class="col-12 col-md-4 offset-md-2">
                <p>Let's get in touch right now and discuss how I can help you.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <route-footer></route-footer>
</div>
