<div class="wrapper pt">
  <div class="container">
    <h1 class="centered"><small>Personnal project </small>Seven23</h1>
    <img src="/assets/images/seven23/screens/1-dashboard.png" alt="" class="tablet_landscape"/>
    <img src="/assets/images/seven23/screens/5-report.png" alt="" alt="" class="tablet_portrait"/>
    <img src="/assets/images/seven23/screens/7-transactions.png" alt="" class="mobile_portrait" />
    <img src="/assets/images/seven23/screens/9-changes.png" alt="" class="mobile_rotated" />
  </div>
  <route-footer></route-footer>
</div>
