<div class="wrapper pt works">
  <div class="container">

    <h1 class="centered"><small>Personal project </small>Seven23</h1>
    <div class="two_tablets_two_mobiles">
      <img src="/assets/images/seven23/screens/1-dashboard.png" alt="" class="tablet_landscape"/>
      <img src="/assets/images/seven23/screens/7-transactions.png" alt="" class="mobile_portrait" />
      <img src="/assets/images/seven23/screens/5-report.png" alt="" alt="" class="tablet_portrait"/>
      <img src="/assets/images/seven23/screens/9-changes.png" alt="" class="mobile_rotated" />
    </div>

  </div>
  <nav>
    <a routerLink="/works" class="back" role="button">< Back</a>
    <a routerLink="/works/fromedwin" class="back" role="button">Next project: FromEdwin</a>
  </nav>
  <route-footer></route-footer>
</div>
