@import '../../assets/scss/variables';
@import '../../assets/scss/layout';

#map {
  position: absolute;
  top: 100px;
  left: $headerPadding;
  right: 130px;
  bottom: $headerPadding;
  z-index: 0;

  img {
    width: 100%;
    color: transparent;
  }
}
