<ul class="projects" [ngClass]="{'quinconce': quinconce}">
  <li>
    <div class="thumbnail">
      <img src="/assets/images/seven23/seven23_layout.png" alt="Seven23 screenshots"/>
      <img src="/assets/images/seven23/seven23_logo.svg" alt="Seven23 logo" class="logo"/>
    </div>
    <h3><small>2011 - Present</small> Seven23</h3>
    <p>Fully manual budget app to track personal expenses. Completely <strong>opensource</strong>, with <strong>privacy by design</strong>.</p>
    <ul class="skills">
      <li>React.js</li>
      <li>Django</li>
      <li>Material-ui</li>
      <li>Next.js</li>
    </ul>
    <a routerLink="/works/seven23" role="button">More about it</a>
  </li>
  <li>
    <div class="thumbnail">
      <img src="/assets/images/fromedwin/fromedwin_layout.png" alt="FromEdwin screenshots"/>
      <img src="/assets/images/fromedwin/fromedwin_favicon.svg" alt="Seven23 logo" class="logo"/>
    </div>
    <h3><small>2022 - Present</small> FromEdwin</h3>
    <p><strong>Opinionated no code monitoring tool</strong> for web projects.</p>
    <ul class="skills">
      <li>Django</li>
      <li>Tailwind.css</li>
    </ul>
    <a routerLink="/works/fromedwin" role="button">More about it</a>
  </li>
</ul>
