@import '../../../assets/scss/variables';

ul.projects {
  margin: 40px 0 0 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;

  // ul.projects has ngClass for quinconce attributs to add spacing on top of one column
  &.quinconce {
    & > li:nth-of-type(even) {
      @include for-tablet-landscape-up {
        margin-top: 100px;
      }
    }
  }

  & > li {
    width: 100%;
    @include for-tablet-landscape-up {
      width: 45%;
    }

    position: relative;
    list-style: none;
    margin: 0px 0 50px;
    padding: 10px 0px;

    .thumbnail {
      width: 100%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      background: $color-surface;
      position: relative;

      justify-content: center;
      @include for-tablet-landscape-up {
        justify-content: flex-end;
      }

      img {
        z-index: 10;
      }

      .logo {
        position: absolute;
        bottom: 11px;
        left: 11px;
        width: 40px;
        opacity: 0.05;
        filter: grayscale(100%);
        z-index: 0;
        transition: opacity 0.5s ease-in-out;
        -webkit-touch-callout: none;
      }

    }

    &:hover .thumbnail .logo {
      opacity: 0.1;
    }

    @include for-tablet-landscape-up {
      h3, p, a, ul {
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    img {
      max-height: 300px;
      max-width: 100%;
    }

    a {
      display: flex;
      justify-content: flex-start;
    }

    ul {
      margin-bottom: 8px;
    }
  }
}
