<header [class]="headerState">
  <h1><a routerLink="/">sebastienbarbier</a> \ <small>{{ o.activatedRouteData.title }}</small></h1>
</header>

<aside>
  <label for="navigationMenu">Navigation Menu</label>
  <input type="checkbox" name="navigationMenu" id="navigationMenu" [(ngModel)]="navigationMenuStatus" />
  <nav>
    <label for="navigationMenu">Navigation Menu</label>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
      <li><a routerLink="/photography" routerLinkActive="active">Photography</a></li>
      <li><a routerLink="/blog" routerLinkActive="active">Blog</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </nav>
</aside>

<main>
  <div>
    <router-outlet #o="outlet"></router-outlet>
  </div>
</main>

<footer>
  <nav>
    <ul>
      <li><small>2017</small></li>
      <li><a routerLink="/legal">Legal &amp; copyright</a></li>
    </ul>
  </nav>
</footer>
