@import '../assets/scss/variables';

header {
  top: 0;
  position: absolute;

  @media screen and (max-width: 599px) {
    padding-left: 10px;
  }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    padding-left: 20px;
  }
  @media screen and (min-width: 1000px) {
    padding-left: 50px;
  }

  &.hide {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s 0.2s, opacity 0.2s ease-out;
  }
  &.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.4s ease-in 0s;
  }

  h1 {
    text-align: left;
    margin: 0;
    padding: 46px 0 0 10px;
    a {
      text-decoration: none;
      border-bottom: none;
      padding-right: 6px;
      color: inherit;
    }
    small {
      padding-left: 6px;
      padding-bottom: 1px;
      font-size: 0.7em;
      letter-spacing: -0.01em;
      font-family: 'open_sanslight', sans-serif;
    }
    span {
      font-size: 0.7em;
      font-family: 'open_sansregular', sans-serif;
    }

    @media screen and (max-width: 599px) {
      display: none;
    }
    @media screen and (min-width: 600px) and (max-width: 999px) {
      padding-top: 40px;
      h1{
        display: block;
      }
      small{
        display: block;
        padding-top: 8px;
        padding-left: 0;
      }
      span{
        display: none;
      }
    }
    @media screen and (min-width: 1000px) {
    }
  }
}

#lang {
  position: absolute;
  @media screen and (max-width: 599px) {
    top: 15px;
    right: 90px;
  }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    top: 30px;
    right: 110px;
  }
  @media screen and (min-width: 1000px) {
    top: 30px;
    right: 130px;
  }
  a {
    border: none;
    padding: 0 4px;
    cursor: default;
    color: #111;
    font-family: "open_sanssemibold";
    &.notCurrentLang{
      cursor: pointer;
      font-family: "open_sansregular";
      color: #666;
    }
  }
}

aside{
  z-index: 100;
  position: absolute;
  top: 0; left: 0; right: 0;
  label{
    cursor: pointer;
    position: absolute;
    @media screen and (max-width: 599px) {
      top: 25px;
      right: 30px;
    }
    @media screen and (min-width: 600px) and (max-width: 999px) {
      top: 45px;
      right: 40px;
    }
    @media screen and (min-width: 1000px) {
      top: 45px;
      right: 60px;
    }
  }
  input[type=checkbox]{
    visibility: hidden;
  }
  input[type=checkbox]:checked + label{
    visibility: hidden;
  }
  input[type=checkbox]:checked + label + nav {
    // Animation
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.2s ease-out, transform 0.1s ease-out;

    ul {
      transform : translateX(0px);
      opacity: 1;
      transition: opacity 0.2s ease-out .1s, transform 0.2s ease-out .1s;
    }
  }
  nav {

    // Animation
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity .2s ease-out, transform .2s ease-out;

    // Position
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $nav-background;
    color: white;

    @media screen and (max-width: 599px) {
      align-items: flex-end;
      padding-right: 10vw;
      padding-top: 100px;
    }
    @media screen and (min-width: 600px) and (max-width: 999px) {
      align-items: flex-end;
      padding-right: 10vw;
    }
    @media screen and (min-width: 1000px) {
    }

    ul {
      // Animation
      transform : translateX(-30px);
      opacity: 0;
      transition: opacity 0.2s ease-out, transform 0.1s ease-out;

      @media screen and (max-width: 599px) {
      }
      @media screen and (min-width: 600px) and (max-width: 999px) {
        width: 60vw;
      }
      @media screen and (min-width: 1000px) {
        width: 60vw;
      }
      padding: 0;
      list-style: none;
      li{
        padding: 14px 0px 14px 0;
        position: relative;
        text-align: right;

        &:not(:last-child) {
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 10px;
            width: 45px;
            height: 1px;
            border-bottom: solid 1px white;
          }
        }
        a{
          border: none;
          color: $light;
          text-transform: uppercase;
          font-family: 'open_sansbold', sans-serif;
          font-size: 1.8rem;
          line-height: 1;
          letter-spacing: -0.01em;

          &.active {
            color: #888;
            cursor: default;
          }
          &.small {
            text-transform: capitalize;
            font-family: 'open_sansregular', sans-serif;
            font-size: 1rem;
            letter-spacing: -0.01em;
          }
        }
      }
    }
  }
}
