@import '../assets/scss/variables';

@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 0.2;
  }
}

.home, .notHome, .aboutMe {
  position: relative;
  width: 100%;
  min-width: 100vw;
  height: 100%;
  min-height: 100vh;
  overflow: hidden;
  z-index: 1;

  &:before {
    content: '';
    transform: translate(50vw, -50vh) rotate(45deg);
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: $colorPolo;
    opacity: 0.2;
    z-index: 1;
    transition: opacity 1s, transform 1s;
    pointer-events: none;

    animation-name: appear;
    animation-duration: .6s;
  }
}

.aboutMe {
  &:before {
    transform: rotate(90deg) translate(0, -50vh);
    opacity: 0;
  }
}

.notHome {
  &:before {
    transform: translate(100vw, -100vh) rotate(45deg) scale(0.8);
    opacity: 0;
  }
}

header {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

  // sebastienbarbier logo as text
  a.logo {
    display: inline-block;
    height: $headerFontSize;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    position: relative;
    left: -8px;
    @media screen and (max-width: $md - 1px) {
      display: none;
    }

    @media screen and (min-width: $md) and (max-width: $lg - 1px) {
      margin: $paddingMedium 0 0;
      margin-left: $paddingMedium;
    }
    @media screen and (min-width: $lg) {
      margin: $paddingMedium 0 0;
      margin-left: $paddingLarge;
    }

    img {
      height: 100%;
      color: transparent;
    }
  }

  label{
    cursor: pointer;
    position: fixed;
    width: $headerFontSize;
    height: $headerFontSize;
    z-index: 1001;

    @media screen and (max-width: $sm) {
      position: absolute;
      top: $paddingMedium;
      right: $paddingSmall;
    }

    @media screen and (min-width: $sm) and (max-width: $md - 1px) {
      position: absolute;
      top: $paddingMedium;
      right: $paddingMedium;
    }

    @media screen and (min-width: $md) and (max-width: $lg - 1px) {
      top: $paddingMedium;
      right: $paddingMedium;
    }
    @media screen and (min-width: $lg) {
      top: $paddingMedium;
      right: $paddingLarge;
    }

    #navigation__button__close { fill:white; visibility: hidden; }

    @keyframes rotate {
      from {
        transform: rotate(360deg);
      }

      to {
        transform: rotate(0deg);
      }
    }

    svg {
      position: absolute;
      &:first-child {
        visibility: visible;
        opacity: 1;
        transition: opacity 150ms 50ms, visibility 0s;
      }
      &:last-child {
        visibility: hidden;
        opacity: 0;
        animation: 1s infinite linear normal rotate;
        animation-play-state: paused;
        transition: opacity 150ms, visibility 0s 150ms;
      }
    }
    &.isLoading {
      svg:first-child {
        visibility: hidden;
        opacity: 0;
        transition: opacity 150ms, visibility 0s 150ms;
      }
      svg:last-child {
        visibility: visible;
        opacity: 1;
        transition: opacity 150ms 50ms, visibility 0s;
        animation-play-state: running;
      }
    }
  }
  input[type=checkbox]{
    display: none;
  }
  input[type=checkbox]:checked + label {
    #navigation__button__open { visibility: hidden; }
    #navigation__button__close { fill:white; visibility: visible; }
  }

  input[type=checkbox]:checked + label + nav {
    // Animation
    visibility: visible;
    transition: visibility 0s;

    &:before {
      opacity: 1;
      transition: opacity 0.2s ease-in;
    }

    $range: 0.03s;
    $delay: 0.06s;
    li {
      @mixin inline-animation($duration) {
        transition: opacity 0.2s ease-out $duration, transform 0.2s ease-out $duration;
      }
      &:nth-child(0) { @include inline-animation($delay+(1*$range)) }
      &:nth-child(1) { @include inline-animation($delay+(2*$range)) }
      &:nth-child(2) { @include inline-animation($delay+(3*$range)) }
      &:nth-child(3) { @include inline-animation($delay+(4*$range)) }
      &:nth-child(4) { @include inline-animation($delay+(5*$range)) }
    }

    ul.sublinks {
      transition: opacity 0.2s ease-out $delay+6*$range, transform 0.2s ease-out $delay+6*$range;
    }

    ul.sublinks, li {
      transform : translateX(0px);
      opacity: 1;
    }
  }

  nav {
    z-index: 1000;

    // Animation
    visibility: hidden;
    transition: visibility 0s 0.2s;
    // Position
    position: fixed;
    top: 0; bottom: 0; left: 0; right: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    &:before {
      content: '';
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      background: $nav-background;
      opacity: 0;
      transition: opacity 0.2s ease-out;
      z-index: 100;
    }

    @media screen and (max-width: 599px) {
      align-items: flex-end;
      padding-right: 10vw;
      padding-top: 5vh;
    }
    @media screen and (min-width: 600px) and (max-width: 999px) {
      align-items: flex-end;
      padding-right: 10vw;
    }


    ul.links {
      // Animation

      @media screen and (max-width: 599px) {
      }
      @media screen and (min-width: 600px) and (max-width: 999px) {
        width: 60vw;
      }
      @media screen and (min-width: 1000px) {
        width: 60vw;
      }
      padding: 0;
      list-style: none;
      z-index: 101;

      li{
        padding: 14px 0px 14px 0;
        position: relative;
        text-align: right;

        transform : translateX(-30px);
        opacity: 0;

        @mixin inline-animation($duration) {
          transition: opacity 0.2s ease-out $duration, transform 0.1s ease-out $duration;
        }

        &:nth-child(0) { @include inline-animation(0s) }
        &:nth-child(1) { @include inline-animation(0s) }
        &:nth-child(2) { @include inline-animation(0s) }
        &:nth-child(3) { @include inline-animation(0s) }
        &:nth-child(4) { @include inline-animation(0s) }

        &:not(:last-child) {
          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            right: 10px;
            width: 45px;
            height: 1px;
            border-bottom: solid 1px white;
          }
        }
        a{
          border: none;
          color: $light;
          text-transform: uppercase;
          font-weight: 700;
          font-size: 1.8rem;
          line-height: 1;
          letter-spacing: -0.01em;

          &.active {
            opacity: 0.4;
            cursor: default;
          }
        }
      }

    }

    ul.sublinks {
      z-index: 101;
      // Animation
      transform : translateX(-30px);
      opacity: 0;
      margin-bottom: 0;
      transition: opacity 0.2s ease-out, transform 0.1s ease-out;

      @media screen and (max-width: 599px) {
      }
      @media screen and (min-width: 600px) and (max-width: 999px) {
        width: 60vw;
      }
      @media screen and (min-width: 1000px) {
        width: 60vw;
      }
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: flex-end;

      li{
        padding: 0px 20px 0px 20px;
        position: relative;
        text-align: right;

        &:last-child {
          padding-right: 0;
        }

        &:not(:last-child) {
          &:after {
            content: '';
            position: absolute;
            top: 5px;
            bottom: 0px;
            right: 0;
            width: 1px;
            border-left: solid 1px white;
          }
        }

        a{
          border: none;
          color: $light;
          text-transform: capitalize;
          font-weight: 400;
          font-size: .8rem;
          letter-spacing: -0.01em;

          &.active {
            color: #888;
            cursor: default;
          }
        }
      }

    }
  }
}
