@import '../assets/scss/variables';

// Header logo as svg
header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
  padding-top: calc(30px + env(safe-area-inset-top));

  @include for-tablet-landscape-down {
    padding: 20px 20px 20px 10px;
    padding-top: calc(20px + env(safe-area-inset-top));
  }
  // @include for-phone-only ...

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: env(safe-area-inset-top);
    background: $background_brown;
    z-index: $zindex_navigation+1;
  }

  a.logo {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    display: inline-block;

    z-index: $zindex_header;
    transition: visibility 0s, left 0.3s ease, opacity 0.3s ease;
    position: relative;
    left: 0px;
    visibility: visible;


    &.hidden {
      opacity: 0;
      visibility: hidden;
      left: 10px;
      transition: opacity 0.3s ease, left 0.3s ease, visibility 0s 0.3s;
    }

    svg {
      width: 240px;
      color: transparent;
      transition: all 0.3s ease;
      g {
        fill: #16161D;
      }

      @include for-phone-only {
        width: 190px;
      }
    }
  }
}

//
// HAMBURGER MENU
//

$navigation_button_size: 46px;

// Input checkbox store the navigaiton menu state to open/close
input#navigation {
  display: none;

  &:checked + label div {
    span {
      &:first-of-type {
        transform: rotate(45deg);
        top: 5px;
        background-color: $background_white !important;
      }
      &:last-of-type {
        transform: rotate(-45deg);
        bottom: 5px;
        background-color: $background_white !important;
      }
    }
  }
  // hover when checked keep size consiste and override preivous styling
  &:checked + label:hover div span:first-of-type,
  &:checked + label:hover div span:last-of-type {
    width: 32px;
  }
}

// Button object to toggle navigation state
input#navigation + label {
  position: relative;
  width: $navigation_button_size;
  height: $navigation_button_size;
  cursor: pointer;
  display: block;

  z-index: 999;

  div {
    margin: auto;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 32px;
    height: 12px;

    cursor: pointer;
  }

  // Button bars are represented as span
  span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    background-color: $background_eigengrau;
    border-radius: 1px;
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
    &:first-of-type {
      top: 0;
    }
    &:last-of-type {
      bottom: 0;
    }
  }

  // Animate menu bar on hover effect
  &:hover {
    // Disable hover effect on mobile.
    @media (min-width: 1024px) {
      span:first-of-type {
        width: 26px;
      }

      span:last-of-type {
        width: 12px;
      }
    }
  }
}

// Navigation Menu
input#navigation + label +  nav {
  position: absolute;
  top: 0;
  bottom: calc(-1 * env(safe-area-inset-top));
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: auto;

  background: $background_brown;
  color: $primary_text_white;

  display: flex;
  align-items: center;
  justify-content: flex-end;

  ul {
    text-align: left;
    width: 40%;
    li {
      list-style: none;
      margin: 0;
      padding: 5px 0;
      a {
        @include serif;
        text-decoration: none;
        font-size: 3.6em;
        color: $primary_text_white;
        font-variation-settings: 'opsz' 24;
        transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965);
        &.active {
          color: $color_gold;
        }
        &:hover {
          color: $color_gold;
        }
      }
    }

    @include for-tablet-landscape-down {
        width: 100%;
        padding: 0;
        text-align: center;
        li a {
          font-size: 3em;
        }
    }

    @include for-tablet-landscape-up {
        width: 50%;
    }

    @include for-desktop-up {
        width: 40%;
    }
  }

  z-index: $zindex_navigation;
  transition: opacity 0.2s ease-in-out, visibility 0s 0.2s;
}

// Animation to display navigation menu
input#navigation:checked + label + nav {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.2s ease-in-out;
}
