{% load static from staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Sébastien BARBIER - Besançon, Développeur | MyHub{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/styles.css" %}" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="{% static "js/raphael-min.js" %}"></script>
    <script src="{% static "js/livicons-1.3.min.js" %}"></script>
    <!--[if lt IE 8]>
	  <script src="{% static "js/json2.min.js" %}"></script>
	<![endif]-->
	
  </head>
  <body>
  	<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">

		<!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	      <span class="sr-only">Toggle navigation</span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	      <span class="icon-bar"></span>
	    </button>
	    
		<a class="navbar-brand" href="#">Sébastien BARBIER | MyHub</a>
	  </div>
	
	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-left">
			
		      <li {% block nav_home %}{% endblock %}><a href="/"><span class="livicon" data-name="home" data-size="18" data-color="#999" data-hovercolor="white" style="margin: -6px 5px 0px 0px;"></span> Accueil</a></li>   		      
   		      <li {% block nav_resume %}{% endblock %}><a href="/resume/"><span class="livicon" data-name="doc-portrait" data-size="18" data-color="#999" data-hovercolor="white" style="margin: -6px 5px 0px 0px;"></span> Mon CV</a><li></li>
		      <li {% block nav_projects %}{% endblock %}><a href="/projects/"><span class="livicon" data-name="lab" data-size="18" data-color="#999" data-hovercolor="white" style="margin: -6px 5px 0px 0px;"></span> Mes projets</a></li>
		      <li {% block nav_contact %}{% endblock %}><a href="/contact/"><span class="livicon" data-name="mail" data-size="18" data-color="#999" data-hovercolor="white" style="margin: -6px 5px 0px 0px;"></span> Contact</a></li>
		   
		    </ul>
	   </div>
	</nav>

	
	{% block page %}
	
	{% endblock %}


	<script>
		//	Google Analytics
		(function(i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r;
			i[r] = i[r] ||
			function() {
				(i[r].q = i[r].q || []).push(arguments)
			}, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0];
			a.async = 1;
			a.src = g;
			m.parentNode.insertBefore(a, m)
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-26715145-1', 'sebastienbarbier.com');
		ga('send', 'pageview');

	</script>
    
  </body>
</html>
