@import '../../../assets/scss/variables';

article {

  section {
    padding: 40px 0;

    @media screen and (max-width: $md - 1px) {
      padding: 40px 20px;
    }

    &:first-child {
      text-align: center;
      p {
        font-size: 1.5em;
        @media screen and (max-width: $md) {
          font-size: 1.2em;
        }
      }
    }

    h2 {
      padding-top: 60px;
      span {
        font-weight: 300;
        font-size: 0.8em;
        letter-spacing: -0.5px;
      }
    }

    img {
      max-width: 100%;
    }

  }
}
