{% extends "index.html" %}
{% load static from staticfiles %}

{% block nav_resume %}class="active"{% endblock %}

{% block page %}

<div class="container" style="margin-top: 80px;">
	<div class="row">
		<div class="col-lg-12" style="height: 280px;">
			<h1>Resume : Web architect</h1>
			
			<h2>A propos</h2>
			
			<ul>
				<li>Sébastien BARBIER</li>
				<li>26 ans</li>
				<li>Celibataire</li>
				<li>Français</li>
				<li>Adresse : Besançon, France</li>
				<li>Anglais, Espagnol</li>
				<li>Permis B</li>
			</ul>
			
			<h2>Compétences</h2>
			
			<h3>Web</h3>
			
			<ul>
				<li>Python, framework Django.</li>
				<li>Javascript, fan de jQuery même si vite brouillon, angularJS un peu.</li>
				<li>HTML5, CSS3, Responsive, je maitrise, même les patchs ie7 ;).</li>
				<li>API, surtout RestFull Json XML Yaml, mais aussi SOAP pourquoi pas.</li>
				<li>BDD, MySQL et PostGRE, des tuto NoSQL CouchDB mais jamais sérieusement.</li>
				<li>En vrac : MQ, Nginx et Apache, Géoloc + API google, THE GIMP pour la découpe, pip, virtualenv.</li>
			</ul>
			
			<h3>Développement d'application</h3>
			
			<ul>
				<li>Java, bonne expérience Swing notamment, mais ne me demandez pas de faire du web avec, hors de question.</li>
				<li>C++, avec du QT ou de l'OpenGL très bien.</li>
				<li>C#, un stage, intéressant.</li>
				<li>Objective C, j'avais beaucoup aimé iOS, ne me fait pas peur.</li>
			</ul>
			
			<h3>Conception</h3>
			
			<ul>
				<li>Methode agile, SCUM très bien.</li>
				<li>Test unitaire, I.N.D.I.S.P.E.N.S.A.B.L.E. ! Développement dirigé par les tests si possible.</li>
				<li>J'adore les algorithmes bien compliqués, ne surtout pas hésiter.</li>
				<li>GIT, Mercurial, SVN, tout en ligne de commande.</li>
				<li>Linux est mon ami, OS X mon coup de coeur. Je bosse sous Mac, mais rien de mieux qu'un Linux.</li>
				<li>Doc sous Sphynx en reStructuredText, ou ReadTheDoc.org.</li>
				<li>Intégration continu avec Jenkins. Douce illusion d'un Code Coverage à 100%.</li>
			</ul>
			
			<h2>Expériences</h2>
			
			<h3>Covalia</h3>
			
			<h3>Ionyse</h3>
			
			<h3>Stage Malaisie</h3>
			
			<h3>Stage Australie</h3>
			
			<h3>Stage Thalès</h3>
			
			<h3>Jobs étudiants</h3>
			
			<ul>
				<li>Poissonnier</li>
				<li>Piscine municipale Montbéliard</li>
			</ul>
			
			<h2>Formation</h2>
			
			<ul>
				<li>Master</li>
				<li>Licence</li>
				<li>Erasmus</li>
				<li>DUT</li>
				<li>Bac</li>
			</ul>
			
			<h2>Divers</h2>
			
			<p>Entre deux lignes de code, je planifie autant de voyages que possible (France, Angleterre, Malaisie, Vietnam, Thaîlande, Cambodge, Australie). Mes amis m'aident pas mal, avec eux on refait le monde assez régulièrement.</p>
			<p>Je code toujours en musique, donc j'en écoute au finale énormement. Pour me détendre, entre deux épisodes de séries je gratte modestement ma guitare seche en essayant de justifier les quelques cours que j'ai pris il y a bien longtemps. Loin d'être bon, ça m'amuse.</p>
			<p>Mais avec tout ça, impossible de m'enpecher de suivre l'actualité des nouvelles technologies : hadware, software, economie, société, c'est de la curiosité, mais surtout une passion. Rien de mieux qu'une conférence TED pour changer sa vision du monde. Mon twitter tourne d'ailleur  autours de ces sujets.</p>
			
			
			
		</div>
	</div>
</div>
{% endblock %}