@import '../../../assets/scss/variables';
@import '../../../assets/scss/layout';

article {

  section {
    padding: 40px 0;

    @media screen and (max-width: $md - 1px) {
      padding: 40px 20px;
    }

    &:first-child {
      text-align: center;
      p {
        font-size: 1.5em;
        @media screen and (max-width: $md) {
          font-size: 1.2em;
        }
      }
    }

    h2 {
      padding-top: 60px;
      span {
        font-weight: 300;
        font-size: 0.8em;
        letter-spacing: -0.5px;
      }
    }

  }
}

.seven23 {

  .tablet_mobile_wrapper {
    padding: 40px;
    width: 100%;
    aspect-ratio: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    $ipad-width: 38%;
    $ipad-height: $ipad-width * 2448 / 3132;
    $iPhone-width: $ipad-width / 2 - $ipad-width / 10;

    .tablet_landscape, .tablet_portrait, .mobile_portrait, .mobile_rotated {
      position: absolute;

      -webkit-filter: drop-shadow(0 2px 4px rgba(0,0,0,.3));
      -moz-filter: drop-shadow(0 2px 4px rgba(0,0,0,.3));
      -ms-filter: drop-shadow(0 2px 4px rgba(0,0,0,.3));
      -o-filter: drop-shadow(0 2px 4px rgba(0,0,0,.3));
      filter: drop-shadow(0 2px 4px rgba(0,0,0,.3));
    }
    .tablet_landscape {
      width: $ipad-width;
      margin-bottom: $ipad-height + $ipad-height / 3;
      margin-left: $ipad-width / 2;
    }
    .tablet_portrait {
      width: $ipad-height;
      margin-top: $ipad-height;
      margin-left: $ipad-width;
    }
    .mobile_portrait {
      width: $iPhone-width;
      margin-bottom: $ipad-height + $ipad-height / 3;
      margin-right: $ipad-width + $ipad-width / 8;
    }
    .mobile_rotated {
      width: $iPhone-width;
      transform: rotate(90deg);
      margin-top: $ipad-height / 1.5;
      margin-right: $ipad-height;
    }
  }
}
