<div class="wrapper pt">
  <article class="container">
    <section class="column">
      <h2 class="col-sm-12">Seven23</h2>
      <div class="container-fluid text-start">
        <div class="row seven23">
          <div class="col-sm-12 tablet_mobile_wrapper">
            <img src="/assets/images/seven23/screens/1-dashboard.png" alt="" class="tablet_landscape"/>
            <img src="/assets/images/seven23/screens/5-report.png" alt="" alt="" class="tablet_portrait"/>
            <img src="/assets/images/seven23/screens/7-transactions.png" alt="" class="mobile_portrait" />
            <img src="/assets/images/seven23/screens/9-changes.png" alt="" class="mobile_rotated" />
          </div>
        </div>
      </div>
    </section>
  </article>
</div>
