{% extends "loader.html" %}
{% load static from staticfiles %}

{% block page %}

<div class="" style="padding-bottom: 80px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-7 col-xs-12">
				<div class="row">
					<div class="col-sm-3  col-xs-12 css_portrait">
						<img src="{% static "images/SebastienBarbier.jpg" %}" alt="Portrait de Sébastien BARBIER" class="img-circle" />
					</div>
					<div class="col-sm-9  col-xs-12">
						<h2>A propos</h2>
						<p>Développeur, passionné par le web, ses technos, et son économie.</p>
					</div>
				</div>
			</div>

			<div class="col-sm-5 col-xs-12">

					<h2>Localisation</h2>
					<p style="font-size: 1.2em;">Biel/Bienne, <small>Bern, Suisse</small>.</p>

			</div>
		</div>

		<div class="row" style="margin-top: 30px;">
			<div class="col-sm-9 col-xs-12">
				<h2>Actuellement</h2>
				<p style="text-align: justify;">Depuis juin 2014 en poste chez GSMN, comme développeur front-end.</p>

			</div>
		</div>
	</div>
</div>
{% endblock %}
