{% extends "loader.html" %}
{% load static from staticfiles %}

{% block page %}

<div style="padding-bottom: 120px;">
	<div class="container">
		<div class="row">
			<div class="col-sm-7 col-xs-12">
				<div class="row">
					<div class="col-sm-3 col-xs-12 css_portrait">
						<img src="{% static "images/SebastienBarbier.jpg" %}" alt="Profil picture of Sébastien BARBIER" class="img-circle" />
					</div>
					<div class="col-sm-9  col-xs-12">
						<h2>About me</h2>
						<p>Software engineer, passionate about the web, its tech and its economy. Currently doing a lot of javascript, but still a deep python lover.</p>

						<p style="text-align: justify;">Since June 2014, <strong>full time front-end developer</strong> at <a href="http://www.gsmn.ch" title="Genolier Swiss Medial Network website">GSMN</a>.</p>
					</div>
				</div>
			</div>

			<div class="col-sm-5 col-xs-12">
				<h2>Localization</h2>
				<p style="font-size: 1.2em;"><strong>Biel/Bienne</strong>, <small>Switzerland</small>.</p>
			</div>
		</div>
	</div>
</div>
{% endblock %}
