@import '../../assets/scss/variables';

.presentation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: wrap;
  dl {
    padding: 10px 20px 10px 0;
    dt {
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    dd {
      margin-left: 0;
      margin-bottom: 2em;
      opacity: 0.8;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
    dt, dd {
      font-size: 0.9em;
      padding: 2px 4px;
    }
  }
}

div.description {
  opacity: 0.7;
  font-size: 0.8em;
  padding-bottom: 8px;
}

ul.experiences {
  list-style: none;
  padding: 0;

  $asideWidth: 80px;
  $dotLineHeight: 2px;
  $dotSize: 9px;
  $lineHeight: 1px;
  $gap: 10px;

  li.experience {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    gap: $gap;
    padding-left: 20px;
    @include for-tablet-landscape-down {
      padding-left: 0px;
    }
    @include for-phone-only {
      flex-direction: column;
      padding-left: 0px;
      gap: 0;

      &:after {
        content: '';
        width: 50%;
        height: 1px;
        background: black;
        margin: auto;
        opacity: 0.6;
        position: relative;
        top: 10px;
      }

      &:last-of-type:after {
        display: none;
      }
    }
    aside {
      display: flex;
      justify-content: center;
      align-items: start;
      flex-shrink: 0;
      width: $asideWidth;
      margin: 10px 20px 0 0;
      @include for-phone-only {
        padding-bottom: 20px;
        width: $asideWidth * 2;
        justify-content: start;
      }
      img {
        max-width: $asideWidth;
        max-height: 3em;
        filter: grayscale(100%);
        @include for-phone-only {
          max-width: $asideWidth * 2;
          max-height: auto;
        }
      }
    }
    aside + div {
      flex-grow: 1;
    }
    ul.experience {
      padding: 0;
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
      &.date_and_location {
        opacity: 0.7;
        font-size: 1em;
        margin-bottom: 0.5em;
      }

    }
    // Styling of sublist with gold timeline and dot styling
    $left_padding: -1 * ($asideWidth / 2 + $dotLineHeight + $gap);

    li.dot {
      padding-top: 10px;
      padding-bottom: 0;
      list-style: none;
      position: relative;
      @include for-phone-only {
        padding-left: 20px;
      }

      &:before {
        content: "";
        background: $color_gold_dark_visited;
        width: $dotSize;
        height: $dotSize;
        border-radius: 50%;
        position: absolute;
        top: 1.2em;
        left: -74px;
        // left: $left_padding;
        @include for-phone-only {
          left: 0px;
        }
      }
      &:after {
        content: "";
        background: $color_gold_dark_visited;
        opacity: 0.4;
        width: $lineHeight;
        position: absolute;
        top: calc(1.2em + $dotSize*2);
        left: -74px + $dotSize / 2 - $lineHeight;
        @include for-phone-only {
          left: 3px;
        }
        bottom: -10px;
      }
      // Disable last row
      &:last-of-type:after {
        display: none;
      }
    }
  }

  // Galery for resume
  ul.images {
    padding: 0;
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
    gap: 10px;
    li {
      list-style: none !important;
      padding: 0 18px 0 0;
      img {
        width: 60px;
        filter: grayscale(100%);
      }
    }
  }
}

ul.education {
  padding: 0;
  li {
    list-style: none;
    display: flex;

    @include for-tablet-landscape-down {
      flex-direction: column;
      .year {
        margin-bottom: 4px;
      }
    }

    .year {
      margin-top: 0;
      margin-right: 20px;
      color: $color_gold_dark_visited;
      font-weight: bold;
    }
    .location {
      font-style: italic;
    }
    header {
      margin-bottom: 8px;
    }
    .internship {
      margin: 0;
      margin-bottom: 8px;
      opacity: 0.7;
      font-size: 0.8em;
    }
  }
}

table {
  tr {
    th {
      visibility: hidden;
    }
    td {
      padding: 2px 10px;
      vertical-align: text-top;
      &.year {
        color: $color_gold_dark_visited;
        font-weight: bold;
      }
      &.name {
        font-weight: bold;
      }
      &.location {
        font-style: italic;
      }
    }
  }
}

// Radar graph with revelevant skills

h2 {
  clear: both;
  margin-bottom: 1.2em;
}

h3 {
  font-size: 1.2em;
}

h2.relevantSkills {
  margin-bottom: 0.4em;
}

h2.relevantSkills + div {

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;

  @include for-desktop-down {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }

  .radarGraph {
    width: 50%;
    aspect-ratio: 16 / 9;
    @include for-desktop-down {
      width: 100%;
      aspect-ratio: 16 / 9;
      max-height: 280px;
    }
    @include for-phone-only {
      aspect-ratio: 16 / 9;
      max-height: 320px;
    }
  }
}

