@import '../../assets/scss/variables';


ul.experiences {
  list-style: none;
  padding: 0;

  li.experience {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    aside {
      margin: 10px 20px 0 0;
      img {
        width: 60px;
        filter: grayscale(100%);
      }
    }
    aside + div {
      flex-grow: 1;
    }
    ul {
      padding: 0;
    }
    p {
      margin-top: 0;
      margin-bottom: 0;
      &.date_and_location {
        opacity: 0.7;
        font-size: 1em;
        margin-bottom: 0.5em;
      }

    }
    div.description {
      opacity: 0.7;
      font-size: 0.8em;
      padding-bottom: 8px;
      ul {
        list-style: disc;
      }
    }

    // Styling of sublist with gold timeline and dot styling
    $left_padding: -52px;
    li {
      padding-top: 10px;
      padding-bottom: 0;
      list-style: none;
      position: relative;
      &:before {
        content: "";
        background: $color_gold_dark_visited;
        width: 7px;
        height: 7px;
        border-radius: 50%;
        position: absolute;
        top: 1.2em;
        left: $left_padding;
      }
      &:after {
        content: "";
        background: $color_gold_dark_visited;
        opacity: 0.4;
        width: 1px;
        position: absolute;
        top: calc(1.2em + 18px);
        left: $left_padding + 3px;
        bottom: -10px;
      }
      // Disable last row
      &:last-of-type:after {
        display: none;
      }
    }
  }
}

ul.education {
  padding: 0;
  li {
    list-style: none;
    display: flex;

    @include for-tablet-landscape-down {
      flex-direction: column;
      .year {
        margin-bottom: 4px;
      }
    }

    .year {
      margin-top: 0;
      margin-right: 20px;
      color: $color_gold_dark_visited;
      font-weight: bold;
    }
    .location {
      font-style: italic;
    }
    header {
      margin-bottom: 8px;
    }
    .internship {
      margin: 0;
      margin-bottom: 8px;
      opacity: 0.7;
      font-size: 0.8em;
    }
  }
}

table {
  tr {
    th {
      visibility: hidden;
    }
    td {
      padding: 2px 10px;
      vertical-align: text-top;
      &.year {
        color: $color_gold_dark_visited;
        font-weight: bold;
      }
      &.name {
        font-weight: bold;
      }
      &.location {
        font-style: italic;
      }
    }
  }
}
