<div class="wrapper pt">
  <div class="container pb">
    <h1 class="center">
      <span>My resume</span> Software Engineer
    </h1>

    <div class="presentation">
      <dl>
        <dt>Age</dt>
        <dd>{{ age }} years old</dd>
      </dl>
      <dl>
        <dt>Nationality</dt>
        <dd>French</dd>
      </dl>
      <dl>
        <dt>Location</dt>
        <dd>Zurich, Switzerland</dd>
      </dl>
      <dl>
        <dt>Languages</dt>
        <dd>French <em>(native language)</em>, English <em>(fluent)</em>, and German <em>(A2)</em></dd>
      </dl>
    </div>


    <h2 class="relevantSkills">Relevant skills</h2>

    <div>
      <!-- <h3>Front-end</h3> -->
      <div>
        <h3>Front-End</h3>
        <ul class="badges">
          <li>System designs</li>
          <li>Microfrontends</li>
          <li>React</li>
          <li>Angular</li>
          <li>GraphQL</li>
          <li>Redux</li>
          <li>PWA</li>
          <li>Web/Service workers</li>
          <li>UX/UI design</li>
          <li>Accessibility</li>
          <li>SEO</li>
          <li>D3.js</li>
          <li>Cypress</li>
          <li>IndexedDB</li>
          <li>Tailwind</li>
          <li>CSS Animation</li>
          <li>Pixel perfect integration</li>
        </ul>

        <!-- <h3>Back-end</h3> -->

        <h3>Back-End</h3>
        <ul class="badges">
          <li>Distributed systems</li>
          <li>Microservices</li>
          <li>Open-source advocate</li>
          <li>Python</li>
          <li>Javascript</li>
          <li>Django</li>
          <li>FastAPI</li>
          <li>Restful API</li>
          <li>SSO</li>
          <li>Celery</li>
          <li>RabbitMQ</li>
          <li>InfluxDB</li>
          <li>Unitary test</li>
        </ul>

        <!-- <h3>Skills</h3> -->

        <h3>Devops</h3>
        <ul class="badges">
          <li>CI/CD</li>
          <li>Docker</li>
          <li>E2E testing</li>
          <li>Prometheus</li>
          <li>Grafana</li>
          <li>Loki</li>
          <li>Server admin.</li>
        </ul>
      </div>

    </div>

    <h2>Work experience</h2>
    <ul class="experiences">
      <li *ngFor="let experience of experiences;" class="experience">
        <aside>
          <img [src]="experience.logo" alt="Logo from {{ experience.company }}" />
        </aside>
        <div>
          <ng-container *ngIf="experience.positions.length == 1">
            <p><strong>{{ experience.positions[0].title }}</strong><br/>
            {{ experience.name }} • {{ experience.type }}</p>
            <p *ngIf="experience.positions[0].date.end" class="date_and_location">{{ experience.positions[0].date.start|date: 'MMMM y' }} - {{ experience.positions[0].date.end|date: 'MMMM y' }} • {{ experience.positions[0]|duration }}<br/>
            {{ experience.location }}</p>
            <p *ngIf="!experience.positions[0].date.end" class="date_and_location">{{ experience.positions[0].date.start|date: 'MMMM y' }} - Present • {{ experience.positions[0]|duration }}<br/>
            {{ experience.location }}</p>
            <div class="description" markdown>
              {{ experience.positions[0].description }}
            </div>
            <ul class="images" *ngIf="experience.positions[0].images">
              <li *ngFor="let image of experience.positions[0].images;"><img src="{{ image.src }}" alt="{{ image.alt}}" /></li>
            </ul>
          </ng-container>

          <ng-container *ngIf="experience.positions.length > 1">
            <p><strong>{{ experience.name }} </strong></p>
            <p class="date_and_location">{{ experience.type }} • {{ experience.positions|duration }}<br/>{{ experience.location }}</p>
            <ul class="experience">
              <li class="dot" *ngFor="let position of experience.positions;">
                <p><strong>{{ position.title }}</strong></p>
                <p *ngIf="position.date.end" class="date_and_location">{{ position.date.start | date: 'MMMM y' }} - {{ position.date.end | date: 'MMMM y' }} • {{ position|duration}}</p>
                <p *ngIf="!position.date.end" class="date_and_location">{{ position.date.start | date: 'MMMM y' }} - Present • {{ position|duration}}</p>
                <div class="description" markdown>
                  {{ position.description }}
                </div>
                <ul class="images" *ngIf="position.images">
                  <li *ngFor="let image of experience.positions[0].images;"><img src="{{ image.src }}" alt="{{ image.alt}}" /></li>
                </ul>
              </li>
            </ul>
          </ng-container>
      </div>
     </li>
    </ul>

    <h2>Education</h2>
    <ul class="education">
      <li *ngFor="let education of educations">
        <p class="year">{{ education.year }}</p>
        <div>
          <header>
            <strong>{{ education.title }}</strong><span *ngIf="education.grade"> - {{ education.grade }}</span><br/>
  {{ education.university }} - <span class="location">{{ education.location }}</span>
          </header>
          <ng-container *ngIf="education.internship">
            <p class="internship">Internship: <strong>{{ education.internship.company }}</strong> - <span class="location">{{ education.internship.location }}</span> - {{ education.internship.duration_in_months }} months.<br />{{ education.internship.description }}</p>
          </ng-container>
        </div>
      </li>
    </ul>

    <h2>About me</h2>

    <p>Building tools to make life easier. Exploring blockchain, crypto, and trading. Passionate about photography, motorcycles, travel, and connecting with people in tech.</p>

    <h2>Attending conferences</h2>
    <p>Here's a list of the conferences I attended in the past years:</p>

    <table>
      <tr>
        <th>Year</th>
        <th>Conference's name</th>
        <th>Location</th>
      </tr>
      <ng-container *ngFor="let year of years">
        <tr *ngFor="let confs of conferences[year]; let loopcounter = index">
          <td class="year" *ngIf="loopcounter == 0" [attr.rowspan]="conferences[year].length">{{ year }}</td>
          <td class="name">{{ confs.name }}</td>
          <td class="location">{{ confs.location }}</td>
        </tr>
      </ng-container>
    </table>
  </div>
  <nav class="end_page">
    <a routerLink="/works" class="back" role="button">Explore recent projects</a>
    <a routerLink="/contact" class="back" role="button">Contact me</a>
  </nav>
  <route-footer></route-footer>
</div>
