<div class="route">
  <route-header></route-header>
  <div class="content">
    <h1>Resume</h1>
    <div class="container">
      <article>
        <section class="row">
          <h2 class="col-sm-12">Cloud Software Architect</h2>
          <p class="col-sm-12">31 January 1988, French nationality.<br/>Based in Zurich, Switzerland 🇨🇭.<br />contact@sebastienbarbier.com</p>
        </section>

        <section>
          <h2>Education</h2>
          <ul>
            <li>
<strong>2011 - Master degree in computer science - Distributed systems and networks</strong><br/>
« University of Franche-Comté, Science and technology » - Besançon, France 🇫🇷 - magna cum laude<br/>
<strong>Internship 3 months:</strong> Nav6 Laboratory - Penang, Malaysia 🇲🇾. Developed C# application using Google API in a real time collaborative space. Integrated to a video chat
application in purpose to have real time document edition.</li>
            <li>
<strong>2009 - Bachelor degree in computer science</strong><br/>
« University of Franche-Comté, Science and technology » - Besançon, France 🇫🇷 - cum laude<br/>
<strong>Internship 3 months:</strong> MagicLabVision Laboratory - Adelaide, Australia 🇦🇺. Joined a research team on an augmented reality application based on Python.</li>
            <li>
<strong>2008 - “Final year in computer science”</strong><br/>
« University of Portsmouth » - ERASMUS exchange, England 🇬🇧</li>
            <li>
<strong>2007 - HNC, Computer Science</strong><br/>
« IUT of Belfort » - Belfort, France 🇫🇷<br />
<strong>Internship 3 months:</strong> Thales Avionics Electrical Systems - Chatou, France 🇫🇷. PHP Developer, using Oracle databases, access archives from a previous ERP.</li>
          </ul>
        </section>

        <section>
          <h2>Work experience</h2>
          <ul>
            <li>
              <strong>SAP</strong> : Associate Development Architect. Zurich, Switzerland.<br/>
              <em>February 2020 - July 2021 (18 months)</em><br/>
              Full stack lead developer (6 month), then Associate Development Architect within the SAP FSM project.<br/>
              Working with micro front-end framework to build a unified interface. Angular base with node backend.
            </li>

            <li>
              <strong>Web technologies consultant and freelancer</strong> : Self employed, Remote work, Thailand.<br/>Senior front-end for companies like Mila, Mozilla, or Chefclub.<br/>
              <em>November 2016 - January 2020 (3 years and 3 months)</em><br/>
            </li>
            <li>
              <strong>Genolier Swiss Medical network</strong> : Front-end Software Engineer. Solothurn, Switzerland.<br/>
              <em>June 2014 - August 2016 (2 years and 3 months)</em><br/>
              Full-time front-end development on Fluance project : developed an app to aggregate content from HL7 feed of clinics in a generic unified web interface. Team of four front-end. Used mostly AngularJS/jQuery. Manager with Gulp, tested with Jasmine/Karma. Documentation generated using Dgeni. Using SCRUM method.
            </li>

            <li>
              <strong>Covalia</strong> : Software Engineer. Besançon, France.<br/>
              <em>September 2012 - June 2014 (1 year and 10 months)</em><br/>
              Work on Covotem, a video chat application for remote medical consultation. Mostly worked on : Java with
              internal libraries. Interoperability in healthcare system (HL7, DICOM).<br/>
            </li>

            <li>
              <strong>Part-time lecturer</strong> at the university of ISIFC and UFR ST, Besançon. <br/>
              <em>First semester 2011 and first semester 2012</em><br/>
              Java Courses. Practical, Tutorial class, and Projects - respectively 66 and 32 hours, third year students.
            </li>

            <li>
              <strong>Ionyse : Web agency, co-founder, web developer</strong>. Besançon, France.<br/>
              <em>July 2009 - June 2012 (2 years part time, 1 year full time)</em><br/>
              Start this project in parallel of our studies, to help financing them. After 24 months part-time change to a
              full-time job. Web agency, worked on web application for small companies.
            </li>
          </ul>
        </section>

        <section>
          <h2>Skills</h2>
          <ul>
            <li><strong>Front-end</strong> : React, Angular, CSS3 Responsive, Html5. Redux, IndexedDB, web/service workers. Webpack, Npm. Test environment with jasmine, Moka, Karma.</li>
            <li><strong>Back-end</strong> : Python Django, Flask, Restful API, Unitary test, Web services, Continuous integration, Sphinx (technical documentation).</li>
            <li>Devops, Monitoring, Server skills, Open source advocate, Git, Scrum.</li>
            <li><strong>Languages</strong> : French (native language), English (Fluent), and German (A1).</li>
          </ul>
        </section>

        <section>
          <h2>Additional informations</h2>
          <p>Like to attend conferences. Have side-projects, like Seven23 which keep track of my expenses (open source - work in progress). Big use of twitter to follow tech news. Have fun with photography and would like to spend more time and progress.</p>
        </section>

      </article>
    </div>
  </div>
</div>
