<div class="wrapper pt works">
  <div class="container">
    <h1 class="center"><span>Freelancing with </span>Chefclub</h1>

    <div>
      <p>As a <strong>Freelance Front-End Developer</strong> for <strong>Chefclub</strong>, I was responsible for <strong>web integration</strong> tasks, focusing on <strong>enhancing the user experience</strong> and <strong>optimizing web performance</strong> for Chefclub's website</p>

      <p>My role involved collaborating with the team to ensure a seamless and visually appealing website that met the company's branding and marketing objectives.</p>
    </div>

    <dl>
      <dt>Years</dt>
      <dd>2018 - 2019</dd>
      <dt>Stack</dt>
      <dd>
        <ul class="badges right">
          <li>HTML/CSS</li>
          <li>Django</li>
          <li>Vus.js</li>
        </ul>
      </dd>
      <dt>Visit</dt>
      <dd><a href="https://chefclub.tv">Chefclub.tv</a></dd>
    </dl>

    <div class="gallery">
      <img src="/assets/images/chefclub/chefclub-screens.1800.jpg" al="Chefclub mockups" />
    </div>

  </div>
  <nav class="end_page">
    <a routerLink="/works" class="back" role="button"><svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="m0 0h24v24h-24z" fill="none"/><path d="m20 11h-12.17l5.59-5.59-1.42-1.41-8 8 8 8 1.41-1.41-5.58-5.59h12.17z"/></svg> Selected Works</a>
    <a routerLink="/works/mozilla" class="back" role="button">Project: Notes by firefox</a>
  </nav>
  <route-footer></route-footer>
</div>
