@use '../../assets/scss/_variables' as *;

header {
  display: flex;
  flex-direction: column;
  align-items: align-items;
  justify-content: center;

  height: 100vh;
  max-height: -webkit-fill-available;

  @include for-tablet-landscape-down {
    justify-content: flex-end;
  }

  h1 {
    padding-bottom: 0;

    @include for-desktop-down {
      font-size: 3.5em;
    }

    @include for-tablet-landscape-down {
      font-size: 2.8em;
    }

    @include for-phone-only {
      font-size: 2.2em;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;

    &:before {
      content:  '';
      width: 30px;
      border-top: solid 1px $color-primary;
      margin-right: 10px;
    }

    @include for-tablet-landscape-up {
      justify-content: flex-start;

      &:before {
        content:  '';
        width: 200px;
        border-top: solid 1px $color-primary;
        margin-right: 20px;
      }
    }

    @include for-tablet-landscape-down {
      padding-bottom: 40px;
    }

    @include for-phone-only {
      padding-bottom: 10px;
    }

    li {
      list-style: none;
      padding: 2px 4px;
      img {
        height: 1.6em;
        opacity: 0.7;
        transition: opacity ease 0.2s;
        &:hover {
          opacity: 1;
        }
      }
    }
  }
}

