@import '../../assets/scss/variables';
@import '../../assets/scss/layout';


@keyframes scroll {
  0% {
    top: 0%;
    bottom: 100%;
  }

  50% {
    top: 0%;
    bottom: 0%;
  }

  100% {
    top: 100%;
    bottom: 0%;
  }
}

header#home {
  position: relative;
  height: 100vh;
  font-size: 1.6rem;
  padding-bottom: 6vh;
  margin-bottom: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    margin: 0;
    font-weight: 700;
    font-size: 1.8em;
    padding: 0;
  }

  p {
    padding: 0;
    margin: 10px 0 0;
  }

  img.avatar {
    max-width: 200px;
    width: 100%;
    color: transparent;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 3px 1px -2px rgba(0, 0, 0, 0.12);

    @media screen and (max-width: $md - 1px) {
      margin-bottom: 40px;
    }

  }

  .scrollHelper {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 0.6rem;
    text-transform: uppercase;
    font-weight: 700;
    padding: 12px 8px;
    &:before, &:after {
      content: '';
      position: absolute;
      left: 0; top: 0; bottom: 0;
      border-left: 1px solid black;
    }

    &:after {
      animation-name: scroll;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: ease-in-out;
    }
    &:before {
      opacity: 0.3;
    }
  }
}


.intro, .location, #observer3 {
  &.isObserved {
    opacity: 0;
    transition: opacity 1s 250ms, transform 1s 250ms;
    &.show {
      opacity: 1;
      transition: opacity 1s 250ms, transform 1s 250ms;
    }
  }
}

.intro {
  padding-top: 80px;
  padding-bottom: 80px;
  &.isObserved {
    transform: translateX(50px);
    &.show {
      transform: translateX(0px);
    }
  }
}

.location {
  padding: 80px 40px;
  &.isObserved {
    transform: translateX(-50px);
    &.show {
      transform: translateX(0px);
    }
  }
}

#observer3 {
  &.isObserved {
    transform: translateY(50px);
    &.show {
      transform: translateY(0px);
    }
  }
}

#map {
  position: absolute;
  top: 20px; bottom: 20px; left: 20px; right: 20px;
  box-shadow: 0 30px 60px -12px rgba(50,50,93,.25),0 18px 36px -18px rgba(0,0,0,.3),0 -12px 36px -8px rgba(0,0,0,.025);
}

.banner {
  padding-top: 30px;
  padding-bottom: 40px;
  a {
    text-decoration: none;
    color: inherit;
  }
}
a.instagram_thumbnail {
  display: flex;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 2px;
  box-shadow: 0 30px 60px -12px rgba(50,50,93,.25),0 18px 36px -18px rgba(0,0,0,.3),0 -12px 36px -8px rgba(0,0,0,.025);

  &:before {
    content: '';
    padding-top: 100%;
    position: relative;
  }

  div {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      img {
        transform: scale(1);
      }
    }
    img {
      transform: scale(1.05);
      transition: transform 800ms;
      object-fit: cover;
      object-position: 50% 50%;
    }

  }

}

.icon:first-child {
  font-size: 2rem;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  font-weight: 700;
  img {
    height: 1.5em;
    border-radius: 4px;
    margin-right: 20px;
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0,0,0,.12);
  }
}
