<div class="route" style="padding-top: 0;">

  <div class="container-fluid">
    <header id="home">
      <img
        class="avatar"
        src="/assets/images/ressources/sebastienbarbier_profile_256.jpg"
        srcset="/assets/images/ressources/sebastienbarbier_profile_256.jpg 256w,
                /assets/images/ressources/sebastienbarbier_profile_512.jpg 512w,
                /assets/images/ressources/sebastienbarbier_profile_1024.jpg 1024w,"
        alt="Sébastien Barbier profile picture" />
        <div>
          <p><span class="hi">Hi 👋</span><br/>
            <span class="name">My name is <strong>Sébastien Barbier</strong></span><br/>
              I am a <strong>web developer</strong> from <strong>France</strong>, currently <strong>working at SAP</strong>, and based in <strong>Zurich Switzerland</strong>.</p>
        </div>
    </header>
  </div>

</div>
