@import '../../assets/scss/variables';

header {
  font-size: 2em;
  margin-left: 40px;
  margin-right: 40px;

  @media screen and (max-width: 599px) {
    padding: 160px 0 80px 0;
  }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    padding: 160px 0 100px 0;
  }
  @media screen and (min-width: 1000px) {
    width: 780px;
    margin: auto;
    height: 672px;
    height: 70vh;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  h2, p {
    padding: 0px 10px;
    margin: 0px;
  }

  .avatar {
    border-radius: 70px;
    margin-top: 0px;
    margin-right: 40px;
    overflow: hidden;
    position: relative;
    width: 140px;
    height: 140px;
    z-index: 1;

    @media screen and (max-width: 999px) {
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
    }

    @media screen and (min-width: 1000px) {
      float: left;
    }

    img {
      position: absolute;
      width: 100%;
    }
  }

}

.line {
  display: flex;
  flex-direction: row;
  border-top: solid 1px $light2;
  margin-left: 40px;
  margin-right: 40px;

  @media screen and (max-width: 999px) {
    flex-direction: column;
  }
  @media screen and (min-width: 1000px) {
    flex-direction: row;
  }
}
.intro, .location {

  @media screen and (max-width: 999px) {
    flex: 100%;
    padding: 30px 10px;
    font-size: 1.1em;
    border-bottom: solid 1px $light2;
  }
  @media screen and (min-width: 1000px) {
    flex: 50%;
    margin: 0px 40px;
    padding: 60px 10px;
    font-size: 1.2em;
  }
}
