<header>
  <div>
    <img src="../../assets/images/sebastienbarbier_profile.jpg" alt="Sébastien Barbier" class="block"  />
    <h2 class="block">{{ 'home.hi' | translate }}</h2>
    <p class="block" [innerHTML]="'home.mynameis' | translate"></p>
  </div>
</header>

<div class="line block">
  <div class="intro">
    <h2>{{ 'home.whatido.title' | translate }}</h2>
    <p [innerHTML]="'home.whatido.description' | translate"></p>
  </div>

  <div class="location">
    <h2>{{ 'home.whereami.title' | translate }}</h2>
    <p [innerHTML]="'home.whereami.description' | translate"></p>
  </div>
</div>
