@use '../../../assets/scss/_variables' as *;

footer {
  width: 100%;
  background: $color-primary;
  color: $color-on-primary;
  padding-right: env(safe-area-inset-right);
  padding-left: env(safe-area-inset-left);
  padding-bottom: env(safe-area-inset-bottom);

  .getintouch {
    padding-top: 6rem;
    padding-bottom: 6rem;

    @include for-tablet-landscape-down {
      text-align: center;
    }

    h2 {
      font-weight: 400;
      font-size: 0.9em;
      text-transform: uppercase;
      margin-bottom: 4px;
    }

    a {
      color: $color-on-primary;
      text-decoration: none;
      @include serif;
      & {
        font-size: 2.8em;
      }

      @include for-tablet-landscape-down {
        text-align: center;
        font-size: 1.5em;
      }
    }

    ul {
      display: flex;
      flex-direction: row;
      padding: 0;


      @include for-tablet-landscape-down {
        justify-content: center;
      }

      li {
        margin: 0;

        padding-right: 24px;
        &:last-child{
          padding-right: 0px;
        }
        list-style: none;
        a {
          text-transform: uppercase;
          color: $color-secondary-variant;
          font-size: 0.8em;
          font-weight: 500;
          @include sansserif;
        }
      }
    }
  }

  .links {
    padding-top: 1em;
    padding-bottom: 10px;
    font-size: 0.8em;
    text-align: right;

    @include for-tablet-landscape-down {
      text-align: center;
    }

    p {
      a {
        color: $color-on-primary;
        text-decoration: none;
      }
    }
  }
}
