<div class="wrapper pt">
  <div class="container pb">
    <h1 class="centered"><small>Explore recent projects</small>Selected Works</h1>

    <h2>Personal projects</h2>

    <p>I take pride in developing personal projects, driven by concrete challenges I've encountered in my own experiences, as I believe addressing real-world problems provides the most compelling motivation for their creation.</p>

    <app-projects quinconce></app-projects>
  </div>
  <app-logos></app-logos>
  <route-footer></route-footer>
</div>
