<div class="wrapper pt">
  <div class="container pb">
    <h1 class="centered"><small>Explore recent projects</small>Selected Works</h1>

    <h2>Personal projects</h2>

    <p>As a maker, I strive to create tools that solve my own problems and share my work so it could make things easier for everyone.</p>

    <ul class="projects">
      <li>
        <img src="/assets/images/seven23/screens/mini-browser-transactions.png" alt="" />
        <h3><small>2011 - Present</small> Seven23</h3>
        <p>Fully manual budget app to track personal expenses. Completely <strong>opensource</strong>, with <strong>privacy by design</strong>.</p>
        <ul class="skills">
          <li>React.js</li>
          <li>Django</li>
          <li>Material-ui</li>
          <li>Next.js</li>
        </ul>
        <a routerLink="/works/seven23" role="button">More about it</a>
      </li>
      <li>
        <img src="/assets/images/fromedwin/macbook-status-sebastienbarbier.png" alt=""/>
        <h3><small>2022 - Present</small> FromEdwin</h3>
        <p><strong>Opinionated no code monitoring tool</strong> for web projects.</p>
        <ul class="skills">
          <li>Django</li>
          <li>Tailwind.css</li>
        </ul>
        <a routerLink="/works/fromedwin" role="button">More about it</a>
      </li>
    </ul>
  </div>
  <section>
    <div class="container">
      <h2>We worked together</h2>

      <ul class="logos">
        <li><img src="/assets/images/sap/sap.svg" /></li>
        <li><img src="/assets/images/chefclub/chefclub-logo.png" /></li>
        <li><img src="/assets/images/mozilla/mozilla_logo.svg" /></li>
        <li><img src="/assets/images/mila/logo_02_blue.png" /></li>
      </ul>

      <p class="centered">Learn more about my past experiences through <a routerLink="/resume">my resume</a>.</p>
    </div>
  </section>
  <route-footer></route-footer>
</div>
