<div class="wrapper pt">
  <div class="container pb">
    <h1 class="centered"><small>Explore recent projects</small>Selected Works</h1>

    <h2>Personal projects</h2>

    <p>As a maker, I strive to create tools that solve my own problems and to share them so it could make things easier for people.</p>

    <ul class="projects">
      <li>
        <h3>Seven23</h3>
        <p>Fully manual budget app to track personal expenses. Completely opensource, with privacy by design.</p>
        <a routerLink="/works/seven23" role="button">More about it</a>
        <img src="/assets/images/seven23/screens/mini-browser-transactions.png" alt="" />
      </li>
      <li>
        <h3>FromEdwin</h3>
        <p>Opinionated no code monitoring tool measuring availability.</p>
        <a routerLink="/works/fromedwin" role="button">More about it</a>
        <img src="/assets/images/fromedwin/macbook-status-sebastienbarbier.png" alt=""/>
      </li>
    </ul>
  </div>
  <section>
    <div class="container">
      <h2>They hired me</h2>

      <ul class="logos">
        <li><img src="/assets/images/sap/sap.svg" /></li>
        <li><img src="/assets/images/chefclub/chefclub-logo.png" /></li>
        <li><img src="/assets/images/mozilla/mozilla_logo.svg" /></li>
        <li><img src="/assets/images/mila/logo_02_blue.png" /></li>
      </ul>

      <p class="centered">Learn more about my past experiences through <a routerLink="/resume">my resume</a>.</p>
    </div>
  </section>
  <route-footer></route-footer>
</div>
