
@import '../../assets/scss/variables';

h3, h2 {
  clear: both;
}

ul.projects {
  margin: 40px 0 0 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  & > li {
    position: relative;

    @include for-tablet-landscape-up {
      width: 45%;
    }

    list-style: none;
    margin: 30px 0;
    padding: 10px 0px;

    &:nth-of-type(odd) {
      @include for-tablet-landscape-up {
        margin-top: 100px;
      }
    }

    h3, p, a, ul {
      margin-left: 20px;
      margin-right: 20px;
    }

    img {
      width: 100%;
      background: $background_beige_dark;
    }

    a {
      display: flex;
      justify-content: flex-start;
    }

    ul {
      margin-bottom: 8px;
    }
  }
}


ul.logos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 20px 0 30px 0;

  @include for-tablet-landscape-down {
    flex-wrap: wrap;
  }
  li {
    width: 25%;
    padding: 10px 20px;
    list-style: none;
    display: flex;
    justify-content: center;

    @include for-tablet-landscape-down {
      width: 40%;
      padding-bottom: 80px;
    }

    a {
      display: inline-block;
    }
    &:first-of-type {
      img {
        height: 80px;
        max-height: 80px;
      }
    }
    img {
      max-height: 80px;
      width: 50%;
      // css contrast black and white then color on hover with animation
      filter: grayscale(100%);

      @include for-tablet-landscape-down {
        width: 50%;
      }

      @include for-phone-only {
        width: 60%;
      }
    }
  }
}
