<header>
  <div>
  <p [innerHTML]="'freelance.header.description' | translate"></p>
  <p [innerHTML]="'freelance.header.help' | translate"></p>
  </div>
  <a routerLink="/contact">{{ 'freelance.header.contact' | translate }}</a>
</header>
<article>
  <div class="twoColumn">
    <div>
      <h2>{{ 'freelance.tools.title' | translate }}</h2>
      <p [innerHTML]="'freelance.tools.description' | translate"></p>
      <div class="stack">
        <h3>Font-end</h3>
        <ul>
          <li>{{ 'freelance.tools.integration' | translate }}</li>
          <li>React</li>
          <li>Angular</li>
        </ul>
        <h3>Back-end</h3>
        <ul>
          <li>Python (Django, Pyramid, Flask)</li>
          <li>NodeJS</li>
        </ul>
      </div>
    </div>
    <div>
      <h2>{{ 'freelance.location.title' | translate }}</h2>
      <p [innerHTML]="'freelance.location.description' | translate"></p>

      <h2>{{ 'freelance.pricing.title' | translate }}</h2>
      <p [innerHTML]="'freelance.pricing.description' | translate"></p>
    </div>
  </div>

  <h2>{{ 'freelance.title.past_experience' | translate }}</h2>
  <section>
    <img src="https://public.sebastienbarbier.com/images/mila/logo_navi_blue.png" alt="Mila logo" />
    <div>
      <h3>Mila AG <small>{{ 'freelance.mila.location' | translate }} \ 2016 - 2017</small></h3>
      <p><em>{{ 'freelance.mila.description' | translate }}</em></p>
      <p>{{ 'freelance.mila.work' | translate }}</p>
      <p>{{ 'freelance.mila.stack' | translate }}</p>
      <p><a href="https://mila.com">{{ 'freelance.mila.website' | translate }}</a></p>
    </div>
  </section>
</article>

<footer>
  <p [innerHTML]="'freelance.footer' | translate"></p>
</footer>
