<article>
  <h2>{{ 'freelance.title.past_experience' | translate }}</h2>
  <section>
    <img src="https://public.sebastienbarbier.com/images/mila/logo_navi_blue.png" alt="Mila logo" />
    <div>
      <h3>Mila AG <small>{{ 'freelance.mila.location' | translate }} \ 2016 - 2017</small></h3>
      <p><em>{{ 'freelance.mila.description' | translate }}</em></p>
      <p>{{ 'freelance.mila.work' | translate }}</p>
      <p>{{ 'freelance.mila.stack' | translate }}</p>
      <p><a href="https://mila.com">{{ 'freelance.mila.website' | translate }}</a></p>
    </div>
  </section>
</article>
<footer>
  <p [innerHTML]="'freelance.footer' | translate"></p>
</footer>
