@import '../../assets/scss/variables';

header.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  @media screen and (max-width: 599px) {
    margin: 120px 20px 0px 20px;
    flex-direction: column;
    align-items: flex-start;
  }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    margin: 220px 20px 40px 40px;
  }
  @media screen and (min-width: 1000px) {
    margin: 220px 120px 40px 120px;
  }

  a {
    color: #333;
    border: solid 1px #333;
    border-shadow: 0px 0px 6px #BBB;
    border-radius: 4px;
    padding: 4px 12px;
    font-family: 'open_sanssemibold';
    white-space: nowrap;
    transition: background 0.3s linear;
    background: #FAFAFA;

    @media screen and (max-width: 599px) {
      margin-top: 20px;
    }
    @media screen and (min-width: 600px) {
      margin-left: 80px;
      margin-right: 20px;
      margin-top: 20px;
    }
    &:hover{
      border: solid 1px #333;
      background: #EEE;
      transition: background 0.2s linear;
    }
  }

}

article, aside {

  font-size: 0.9em;
  @media screen and (max-width: 599px) {
    margin: 20px 20px 20px 20px;
    h2 {
      margin-top: 50px;
    }
  }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    margin: 20px 20px 20px 40px;
    h2 {
      margin-top: 30px;
    }
  }
  @media screen and (min-width: 1000px) {
    margin: 20px 120px 20px 120px;
    h2 {
      margin-top: 30px;
    }
  }

  div.twoColumn{
    align-items: flex-start;
    padding-top: 12px;
    @media screen and (min-width: 600px) {
      display: flex;
      padding-bottom: 60px;
    }
    div {
      flex: 50%;
      &:first-child{
        padding-right: 40px;
      }
    }
  }

  ul.clients {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 0;

    @media screen and (max-width: 1199px) {
      justify-content: center;
    }

    input[type="radio"] {
      display: none;
      &:checked + label {
        background: $light2;
      }
      &:checked + label + div {
        visibility: visible;
        transition: visibility 0s, right .250s .1s, top .250s .1s, opacity .250s .1s;
        right: 0px;
        top: 0px;
        opacity: 1;
      }
    }

    input[type="radio"]#none {
      &:checked + label.background {
        transition: opacity .250s, visibility 0s .250s;
        opacity: 0;
        visibility: hidden;
      }
      & + label.background {
        position: fixed;
        top: 0; bottom: 0; left: 0; right: 0;
        background: rgba(0, 0, 0, 0.2);
        z-index: 100;
        transition: opacity .250s .1s;
        opacity: 1;
        visibility: visible;
      }
    }

    li {
      label.client {
        display: block;
        display: flex;
        margin: 0 16px 16px 0;
        width: 300px;
        height: 300px;
        position: relative;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        border: none;
        cursor: pointer;
        background: $light;
        transition: background .250s;
        border-radius: 10px;
        overflow: hidden;
        @media screen and (max-width: 1199px) {
          width: 200px;
          height: 120px;
        }

        img {
          max-width: 60%;
          max-height: 20vh;
          z-index: 10;
        }
        div {
          position: absolute;
          top: 0px; right: 0px; left: 0px; bottom: 0;
          width: 100%;
          height: calc(100% - 18px);
          visibility: hidden;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 8px 30px;
          font-family: "open_sanssemibold";
          font-size: 1rem;
          transition: all .250s;
          opacity: 0;
          transform: scale(0.95);
          z-index: 20;
        }
        &:before { opacity: 0; transition: opacity .250s; }
        @media screen and (min-width: 1200px) {
          &:hover {
            background: $light2;
            transition: background .250s;
            &:before {
              content: '+';
              position: absolute;
              top: 0px; right: 0px;
              background: $light3;
              width: 30px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              color: white;
              font-family: "open_sanssemibold";
              border-radius: 0 0 0 10px;
              opacity: 1;
              transition: opacity .250s;
            }
            img {
              filter: blur(5px);
              opacity: 0.5;
              transition: filter .250s .150s, opacity .250s;
            }
            div {
              opacity: 1;
              visibility: visible;
              transform: scale(1);
              transition: all .250s .150s;
            }
          }
        }
      }
      label.client + div {
        visibility: hidden;
        position: fixed;
        top: 0px; bottom: 0px; right: -20px;
        width: 500px;
        height: 100%;
        z-index: 100;
        opacity: 0;
        transition: visibility 0s .250s, opacity .250s, right .250s, top .250s;
        -webkit-overflow-scrolling: touch;

        @media screen and (max-width: 550px) {
          width: 100vw;
          right: 0px;
          top: 20px;
        }
        section {
          background: $light;
          box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 3px 1px -2px rgba(0, 0, 0, 0.12);
          width: 100%;
          height: 100%;
          overflow: auto;
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: stretch;

          header {
            width: 100%;
            flex-shrink: 0;
            flex-grow: 0;
            background: $light2;
            display: flex;
            justify-content: flex-end;
            label {
              cursor: pointer;
              float: right;
              background: $light3;
              padding: 8px 8px 0 8px;

              margin-right: constant(safe-area-inset-right);
              margin-right: env(safe-area-inset-right);
            }
          }
          header + div {
            padding: 20px 40px;
            flex-grow: 1;

            img {
              width: 160px;
              margin: 40px;
              flex-shrink: 0;
            }
            h3 {
              font-size: 1.4em;
              small {
                padding-left: 10px;
                font-size: 0.6em;
                opacity: .7;
                font-family: 'open_sanslight';
              }
            }
            ul.links {
              padding: 0;

              @media screen and (min-width: 600px) {
                display: flex;
              }
              li {
                margin-bottom: 8px;
                margin-right: 18px;
                list-style: none;
              }
            }
          }
          footer {
            border-top: solid 1px $light2;
            border-bottom: solid 1px $light2;
            width: 100%;
            flex-shrink: 0;
            flex-grow: 0;
            height: 100px;
            display: flex;
            margin-bottom: constant(safe-area-inset-bottom);
            margin-bottom: env(safe-area-inset-bottom);

            div {
              width: 50%;
              display: flex;
              position: relative;
              &:first-child {
                border-right: solid 1px $light2;
              }

              label {
                cursor: pointer;
                width: 100%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                &.previous:before, &.next:after {
                  content: '';
                  width: 50px;
                  height: 100px;
                  position: absolute;
                  top: 0px;
                  opacity: 0.4;
                }
                &.previous {
                  padding-left: 20px;
                  &:before {
                    background: url('/assets/svg/baseline-chevron_right-24px.svg') no-repeat center center;
                    transform: rotate(180deg);
                    left: 0px;
                  }
                }
                &.next {
                  padding-right: 20px;
                  &:after {
                    background: url('/assets/svg/baseline-chevron_right-24px.svg') no-repeat center center;
                    right: 0px;
                  }
                }
                img {
                  width: 50%;
                  max-height: 40px;
                  max-width: 120px;
                }
              }
            }
          }
        }
      }
    }
  }

  ul.gallery {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px 0;

    @media screen and (max-width: 949px) {
      justify-content: space-around;
    }
    li {
      flex-grow: 0;
      flex-shrink: 0;
      margin: 12px 22px 12px 0;
      border-radius: 4px;
      overflow: hidden;
      transform: scale(1);
      transition: transform .150s;
      box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),0px 2px 2px 0px rgba(0, 0, 0, 0.14),0px 3px 1px -2px rgba(0, 0, 0, 0.12);

      @media screen and (min-width: 551px) and (max-width: 949px) {

        margin: 12px 18px 12px 18px;
      }
      @media screen and (max-width: 550px) {

        margin: 12px 10px 12px 10px;
      }
      &:hover {
        transform: scale(1.05);
          transition: transform .150s;
      }
      label {
        display: block;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        cursor: pointer;
        img {
          height: 140px;
          @media screen and (max-width: 949px) {
            height: 120px;
          }

        }
      }
    }
  }
}

aside {
  background: $light2;
  margin: 0 !important;
  padding: 20px 120px 20px 120px;
  box-shadow: inset 0 0 10px $light3;

  @media screen and (min-width: 600px) and (max-width: 999px) {
    padding: 20px 20px 20px 40px;
  }
  @media screen and (max-width: 599px) {
    padding: 20px 20px 20px 20px;
  }

  input[type="radio"]#no_gallery {
    display: none;
    & + div.gallery_list {
      opacity: 0;
      transition: opacity .250s;
    }

    &:checked + div.gallery_list {
      opacity: 1;
      transition: opacity .250s .150s;
    }

    &:checked + div.gallery_list + div.gallery_fullscreen{
      visibility: hidden;
      opacity: 0;
      transition: opacity .250s, visibility 0s .250s;

    }
    & + div.gallery_list + div.gallery_fullscreen{
      visibility: visible;
      position: fixed;
      top: 0px; bottom: 0px; left: 0px; right: 0px;
      background: $light;
      z-index: 200;
      opacity: 1;
      transition: opacity .250s .1s;
      display: flex;
      flex-direction: column;
      header {
        width: 100%;
        flex-shrink: 0;
        flex-grow: 0;
        background: $light2;
        display: flex;
        justify-content: flex-end;
        label {
          cursor: pointer;
          float: right;
          background: $light3;
          padding: 8px 8px 0 8px;

          margin-right: constant(safe-area-inset-right);
          margin-right: env(safe-area-inset-right);
        }
      }
      ul {
        position: relative;
        padding: 0;
        margin: 0;
        list-style: none;
        flex-grow: 1;
        flex-shrink: 1;
        li {
          position: absolute;
          top: 0px; left: 0px; right: 0px; bottom: 0px;
          overflow: hidden;
          display: flex;
          justify-content: center;
          align-itmes: center;
          input[type="radio"]{
            display: none;
            & + img {
              opacity: 0;
              max-width: 90vw;
              max-height: calc(90vh - 50px);
              margin: auto;
              z-index: 210;
              transition: opacity .250s .250s;
            }
            &:checked + img {
              opacity: 1;
              transition: opacity .250s .250s;
            }
          }
        }
      }
    }
  }
}

footer.footer {
  text-align: left;
  font-size: 0.9em;
  @media screen and (max-width: 599px) {
    margin: 40px 20px 20px 20px;
  }
  @media screen and (min-width: 600px) and (max-width: 999px) {
    margin: 40px 20px 20px 60px;
  }
  @media screen and (min-width: 1000px) {
    margin: 40px 120px 20px 120px;
  }
}
